# vim:ft=yaml
layout: archive.twig

pageName: archive

events:
    - name: "VilniusPHP 0x65"
      date: 2021-04-01 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lhjsdsyccgbcb/
      speakers:
        - name: Audrius Bugas
          title: Exploring content delivery networks
          linkedin: https://www.linkedin.com/in/audriusbugas/
          description: |
            What’s the best content delivery network?
            Some say it’s the one with the most locations, others suggest any differences are minor.
            At HomeToGo we’ve learned that it heavily depends on the use case.
            In striving to provide users with the highest reliability and also achieve top performance,
            it’s crucial to make our decisions on the basis of real user experience data.
            I will share our way of looking for the best service.
        - name: Vytautas Beliūnas
          title: Time to think about security
          linkedin: https://www.linkedin.com/in/vytautas-beliunas-3729233b
          description: |
            Recent events have shown us all the importance of PHP security. In this talk I’ll show some real-life examples of attempts to take over databases. I’ll also share some tips based on my own experience of protecting users and data
    - name: "VilniusPHP 0x64"
      date: 2021-03-04 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lhjsdsyccfbgb/
      ligtingTalks: false
      speakers:
        - name: Liutauras Kavaliauskas
          title: When code starts to “smell”
          description: |
              Do you know that there are multiple signs of poor code quality?
              What if I tell you that code can go bad and start to "smell"? Bad
              code can function, but it's not at all easy or pleasant to work
              with. There's a way to tell and fix such surface indicators. Here
              at HomeToGo, we make sure our code is clean and easy to change.
        - name: Kristijonas Bulzgis
          title: Road to Kubernetes and autoscaling
          description: |
              Kubernetes was introduced more than 6 years ago in the market and
              its adoption in enterprises is increasing year after year. In my
              presentation, I will focus on the basic concept of Kubernetes and
              how we adopted it in our application ecosystem.
    - name: "VilniusPHP 0x63"
      date: 2021-02-04 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lhdrdsyccdbgb/
      ligtingTalks: false
      speakers:
        - name: Nerijus Žutautas
          title: "SOLID Principles In PHP"
        - name: Nerijus Bistrickis
          linkedin: https://www.linkedin.com/in/nerijusbistrickis
          title: "Story of the robots: lessons learned while building our own WMS"
        - name: Aurelijus Banelis
          linkedin: https://www.linkedin.com/in/aurelijusbanelis/
          title: Fargate
          description: |
            Fargate is an AWS compute engine for dockerized applications.
            Presentation will consist of 3 parts:
            introduction to Fargate, when it is cheaper/better/worse,
            and short demo with simple PHP container on AWS Fargate.
    - name: "VilniusPHP 0x62"
      date: 2021-01-07 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hmcgcsycccbkb/
      ligtingTalks: false
      speakers:
        - name: Povilas Stračinskis
          title: "Error tracking with Sentry"
        - name: Mažvydas Skuodas
          title: Postmortem: OpCache
        - name: Darius Leskauskas
          title: Deploying with Ansistrano
    - name: "VilniusPHP 0x61: 8 metai!"
      date: 2020-12-03 19:00
      facebook: https://www.meetup.com/vilniusphp/events/mcdgzrybcqbfb/
      ligtingTalks: false
      speakers:
        - name: Valerij Vasilčenko
          title: "Code Sherlock. Profiling PHP"
          description: |
              When there are performance issues, how do you find out what’s
              wrong? It’s good when you know in advance what to look for,
              but what if you don't? One of the solutions we employ at
              HomeToGo is code profiling. It helps us to find performance
              issues and improve our code. During my session at the
              VilniusPHP meetup, we’ll review the best tools available for
              code profiling in PHP. Some of them help identify a starting
              point, while others dig deeper into a single method. We’ll
              also try a proactive profiling technique that helps identify
              problematic commits faster.
        - name: Nerijus Žutautas
          url: https://www.linkedin.com/in/nerijus-%C5%BEutautas-48a0448a/
          title: "Hello PHP8!"
        - name: Mažvydas Skuodas
          title: Living code
          description: |
            Did you notice that some code not only runs but also lives? The environment is changing over time, conditions change, and decisions we made before are not that accurate after some time. And what about the performance? Does it have any value? How much one mistake can cost? Let's share some experience and figure it out.

    - name: "VilniusPHP 0x60"
      date: 2020-11-05 19:00
      facebook: https://www.meetup.com/vilniusphp/events/mcdgzrybcpbhb/
      ligtingTalks: false
      sponsor:
        - name: Visma
          url: https://www.visma.com
          logo: visma-logo.png
      speakers:
        - name: Norbert Radvilovič
          title: "Working around Lambda limitations"
          description: |
              Papasakosu apie savo patirtį ir problemas, su kuriomis susidūrėme
              naudojant Lambda ir kitus AWS service'us.
        - name: Arūnas Liuiza
          url: https://www.linkedin.com/in/arunasliuiza/
          title: "WordPress be galvos"
          description: |
              WordPress yra populiariausia turinio valdymo sistema pasaulyje.
              Šiame pranešime kalbėsime apie jos REST API ir wpGraphQL projektą,
              kurių pagalba WP galima naudoti kaip headless CMS ir prijungti
              kone bet kokį frontend'ą.
        - name: Karolis Daužickas
          url: https://www.linkedin.com/in/kdauzickas/
          title: "Shove it up your... stage"
          description: |
              Staging environment is a pattern that is ubiquitous in tech.
              Karolis hates it with passion. He will tell you why and how to
              avoid it.
    - name: "VilniusPHP 0x5F"
      date: 2020-10-01 19:00
      facebook: https://www.meetup.com/vilniusphp/events/wbvbwrybcmbfb/
      ligtingTalks: false
      sponsor:
        - name: NFQ
          url: https://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Eligijus Stugys
          title: AI in PHP -> Beginner guide
          linkedin: https://www.linkedin.com/in/elyga/
          description: |
              Will explain how AI and its algorithms work using PHP with no additional libraries.
        - name: Povilas Balzaravičius
          title: Web Simplified
          linkedin: https://www.linkedin.com/in/pawka/
          description: |
              Tekstinis failas, šiek tiek bash makaronų, Makefile prieskonių ir
              Github actions - viskas ko reikia paleisti puslapiui.
    - name: "VilniusPHP 0x5E"
      date: 2020-09-03 19:00
      facebook: https://www.meetup.com/vilniusphp/events/wbvbwrybcmbfb/
      ligtingTalks: false
      sponsor:
        - name: Estina
          url: https://www.estina.com
          logo: estina-logo.png
      speakers:
        - name: Vytautas Verseckas
          title: Canary release su Cloudflare Workers
          linkedin: https://www.linkedin.com/in/vytautasvers/
          description: |
              Cloudflare Workers tai galimybė programuoti logiką Cloudflare edge tinkle, arti kliento, kur jis bebūtų.
              Apžvelgsiu koncepciją, įrankius ir panaudos atvejus. Papasakosiu apie Canary release strategijos įgyvendinimą
              su Cloudflare Worker ir pakeliui išmoktas pamokas.
        - name: Marco Rosello
          title: Manging better mysql schema changes with Skeema
          linkedin: https://www.linkedin.com/in/marco-rosello-082b942b/
          description: |
              Finding a better way to manage mysql schema in local and production.
              Skeema allows you have multiple database with the same schema,
              have clear changes and some advance options to automate the process in production.
    - name: "VilniusPHP 0x5d"
      date: 2020-08-06 19:00
      facebook: https://www.meetup.com/vilniusphp/events/fchrnrybclbjb/
      ligtingTalks: false
      sponsor:
        - name: Dokobit
          url: https://www.dokobit.com
          logo: dokobit.svg
      speakers:
        - name: Žilvinas Kuusas
          title: Symfony Messenger Component
          linkedin: http://lt.linkedin.com/in/kuusas
          description: |
              Nuo Command Bus iki CQRS - štai ką gali pasiūlyti šis Symfony
              komponentas, nekaltai pavadintas "Messenger". Messenger naudojimas
              suteikia galimybę lengvai įgyvendinti bendravimą tarp atskirų
              sistemų, taip vadinamą "mikroservisų" architektūrą", bei
              lengvai prijungti žinučių valdymo per eiles mechanizmus, kaip
              AMQP. Trumpai apžvelgsiu komponento galimybes ir pasidalinsiu
              idėjomis kaip projektuočiau kuriamą naują sistemą, kuri būtų
              geresnė, lankstesnė ir patikimesnė, nei visos iki šiol...
        - name: Justas Butkus
          title: Kada failas (nė|y)ra objektas
          linkedin: https://www.linkedin.com/in/justasbutkus/
          description: |
              Failų ir objektų saugojimas debesyje.
              Daugiausia AWS S3 naudojimu paremta istorija, kurioje
              apžvelgsiu kada galima S3 naudoti kaip failų sistemą,
              kada kaip objektų saugyklą (sic!), ir kada kaip duomenų
              bazę.
              Nekalbėsiu apie EBS, Route53, ir kitas duomenų bazes.
    - name: "VilniusPHP 0x5c: summer BBQ"
      date: 2020-07-08 18:00
      facebook: https://www.meetup.com/vilniusphp/events/fchrnrybckbdb/
      ligtingTalks: false
      sponsor:
        - name: All
          url: ~
          logo: ~
      speakers:
        - name: Everybody
          title: BBQ
    - name: "VilniusPHP 0x5b"
      date: 2020-06-04 19:00
      facebook: https://www.meetup.com/vilniusphp/events/fchrnrybcjbgb/
      ligtingTalks: false
      sponsor:
        - name: NFQ
          url: https://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Aurelijus Banelis
          title: Technologies changing how we think
          linkedin: https://www.linkedin.com/in/aurelijusbanelis/
          description: |
              When adopting Nicholas Carr's ideas to daily software development,
              principles like – productivity, functional vs object oriented programming,
              IDE, evolution of PHP syntax, A/B tests, lean programming –
              can be seen from completely different perspective.
              "Intellectual technology" ideas can feel obvious,
              but only after you hear about them.
              Let's change our brain structure together.
    - name: "VilniusPHP 0x5a"
      date: 2020-05-07 19:00
      facebook: https://www.meetup.com/vilniusphp/events/fchrnrybchbkb/
      ligtingTalks: false
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png
      speakers:
        - name: Andrejs Abrickis
          title: From a monolith to a distributed monolith
          linkedin: https://www.linkedin.com/mynetwork/invite-sent/andrejsabrickis/
          description: |
              In this talk I share my team's experience on extracting part of a
              monolithic application into a separate web application built on a
              Microfrontend with Backend for Front-End (BFF) architecture. I
              also touch the main changes in the team’s culture adopting more
              rapid CI/CD process which allowed us to decrease the Time to
              Market for new UI/UX features.
        - name: Ciaran McNulty
          title: Intro into BDD
          linkedin: https://www.linkedin.com/mynetwork/invite-sent/ciaranmcnulty/
          description: |
              Behaviour Driven Development techniques help us to ensure that the
              code we're writing is solving real-world problems. We will see how
              a BDD process can help us define a feature, write the code, and
              then validate the code using tools like Behat.
        - name: Justas Butkus
          title: Nustatymai kaip kodas
          linkedin: https://www.linkedin.com/in/justasbutkus/
          description: |
              HTML ne programavimo kalba.
              YAML ne programavimo kalba.
              TXTBYJUSTAS ne programavimo kalba.
              Kodėl nustatymai gali būti pavojingesni nei formalizuotas kodas.
              Ir kaip viena jokio kodo patikrinimo įrankio nepastebima klaida
              gali kainuoti kaip lėktuvas pilnas FFP3 respiratorių.
    - name: "VilniusPHP 0x59"
      date: 2020-04-02 19:00
      facebook: https://www.meetup.com/vilniusphp/events/fchrnrybcgbdb/
      ligtingTalks: false
      sponsor:
        - name: Dokobit
          url: https://www.dokobit.com
          logo: dokobit.svg
      speakers:
        - name: Linas Levanas
          title: Reducing energy usage of your website
          linkedin: https://lt.linkedin.com/in/linaslev
          description: |
              Kalbėsiu apie tinklapio energijos suvartojimą, kokią įtaką tai
              daro vartotojams bei interneto ekosistemai. Aptarsiu įrankį, kuris
              padeda stebėti tinklapio energijos vartojimą, galimus sprendimus,
              statinius tinklapius.
        - name: Žilvinas Kuusas
          title: Kas gero MySQL 8.0
          linkedin: http://lt.linkedin.com/in/kuusas
        - name: Marco Rosello
          title: Preparing & surviving Black Friday
          linkedin: https://www.linkedin.com/in/marco-rosello-082b942b/
    - name: "VilniusPHP 0x58"
      date: 2020-03-05 19:00
      facebook: https://www.meetup.com/vilniusphp/events/fchrnrybcfbhb/
      ligtingTalks: false
      sponsor:
        - name: Visma
          url: https://www.visma.com
          logo: visma-logo.png
      speakers:
        - name: Dominykas Seikis
          title: Intro to exotic php bugs
          linkedin: https://www.linkedin.com/in/dominykas-seikis-5b2a4975/
          description: |
              PHP object injection pažeidžiamumas ir kokias pasėkmes tai gali
              sukelti. Taip pat apie egzotišką pažeidižamumą PHP type juggling.
        - name: Edvardas Kazlauskas
          title: Identifying Microservices
          linkedin: https://www.linkedin.com/in/ekazlauskas/
          description: |
              When building microservices or migrating existing monoliths many
              teams are stumbling upon the issue of identifying microservices.
              Then they end up with either too granular microservices or the
              same monolith they started. We’ll dive into couple of ways how to
              identify what could and what should be split and what is better
              left untouched.
        - name: Darius Leskauskas
          title: Integration hell or "Could you download XML file from our FTP?"
          description: |
              With Tasker, we help companies to go paperless. Gathering and
              storing data in the cloud is simple. Passing it to the ERP or
              CRM - more challenging. I'll share our experience with what
              kind of systems we face and what rules you should follow to
              create a usable API.
          linkedin: https://www.linkedin.com/in/darius-leskauskas-a7741847/
    - name: "VilniusPHP 0x57"
      date: 2020-02-06 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hmjwhryzqbhb/
      ligtingTalks: true
      sponsor:
        - name: Estina
          url: https://www.estina.com
          logo: estina-logo.png
      speakers:
        - name: Antanas Končius
          title: Events vs Hooks
          linkedin: https://www.linkedin.com/in/antanaskoncius/
          description: |
        - name: Mindaugas Pelionis
          title: Blind spots Transitioning from developer to team lead
          linkedin: https://lt.linkedin.com/in/mindaugas-pelionis/
          description: |
        - name: Laurynas Gerbutavicius
          title: Elliptic-curve cryptography
          linkedin: https://lt.linkedin.com/in/gerblaurynas/
          description: |
    - name: "VilniusPHP 0x56"
      date: 2020-01-08 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hmjwhryzqbhb/
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png
      speakers:
        - name: Rimantas Liubertas
          title: Svelte
          linkedin: https://www.linkedin.com/in/imcat/
          description: |
            Svelte is a radical new approach to building user interfaces.
            Whereas traditional frameworks like React and Vue do the bulk of
            their work in the browser, Svelte shifts that work into a compile
            step that happens when you build your app. Instead of using
            techniques like virtual DOM diffing, Svelte writes code that
            surgically updates the DOM when the state of your app changes.
        - name: Osvaldas Grigas
          title: Good enough tests
          linkedin: https://lt.linkedin.com/in/ogrigas
          description: |
            Not all integration tests are a scam, not all mocking is evil, and
            not all unit tests are useful. Trade-offs depend on architectural
            choices, the use of databases and frameworks. I will walk through
            the evolution of my own style of writing tests, focusing on their
            value, cost and agility. Finally, I’ll share my current preferred
            style of testing microservices.
    - name: "VilniusPHP 0x55"
      date: 2019-12-05 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hmjwhryzqbhb/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png

      speakers:
        - name: Justas Butkus
          title: 'Higiena statybų aikštelėje'
          linkedin: https://www.linkedin.com/in/justasbutkus/
        - name: Mindaugas Mozūras
          title: Sustainable Speed
          description: |
            Sustainable speed is a crucial element of how we approach engineering at Vinted.
            This talk is about it
    - name: "VilniusPHP 0x54"
      date: 2019-11-07 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hmjwhryzpbkb/
      ligtingTalks: true
      sponsor:
        - name: Oberlo
          url: http://www.oberlo.com
          logo: oberlo.png

      speakers:
        - name: Darius Leskauskas
          title: 'The Secret Life Of APCu & OPCache'
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
        - name: Marius Balčytis
          title: 'HTTP/3'
          linkedin: https://www.linkedin.com/in/mariusbalcytis/
    - name: "VilniusPHP 0x53"
      date: 2019-10-03 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hqvxqqyznbfb/
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png

      speakers:
        - name: Žilvinas Kuusas
          title: '"Gerosios praktikos"'
          description: |
            Pasidalinsiu "gerosiomis praktikomis", kurias teko sutikti per gyvenimą,
            jų pliusais ir beabejo - minusais.
            Vėliau pakviesiu visus susirinkusius pasidalinti savo įžvalgom apie
            atliekamus supaprastinimus (shortcuts) darbo praktikoje ir kokias pasėkmes
            jie sukelia.
            Bus keiksmų. Bus sarkazmo. Galbūt bus ašarų, galbūt juoko.
          linkedin: http://lt.linkedin.com/in/kuusas
        - name: Visi norintys
          title: PHP Naughty Session
          description: |
            Keisčiausi dalykai kurios teko daryti su PHP.
            Galbūt keistas projektas? Gal PHP sukėlė problemų?
            Gal išradote dviratį? Įdomu būtų išgirsti kokiomis įvairenybėmis
            jums teko užsiimti.
    - name: "VilniusPHP 0x52"
      date: 2019-09-05 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hqvxqqyzmbhb/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png

      speakers:
        - name: Aurelijus Banelis
          title: "How AWS handles security"
          description: |
            Amazon Web Service (AWS) infrastruktūra naudojasi milijonai klientų, bet kai prisijungti – atrodo, kad viskas yra skirta tik tau?
            Tokį jausmą leidžia užtikrinti sudėtinga identifikavimo ir saugumo sistema (IAM).
            Pakalbėkime, kokių idėjų galima būtų pasiimti iš AWS ir panaudoti savo kuriamų programų atpažinimo/sesijų/saugumo/izoliavimo ir pan. sprendimuose?..
          linkedin: https://www.linkedin.com/in/aurelijusbanelis/
        - name: Povilas Balzaravičius
          title: "Managing Technical Debt"
          linkedin: https://www.linkedin.com/in/pawka/
    - name: "VilniusPHP 0x51"
      date: 2019-08-01 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hqvxqqyzlbcb/
      ligtingTalks: true
      sponsor:
        - name: Oberlo
          url: http://www.oberlo.com
          logo: oberlo.png

      speakers:
        - name: Sergej Kurakin
          title: "Money"
          description: Lets talk about Money. What is Money, Money value object, handling and storing.
          linkedin: https://lt.linkedin.com/in/sergejkurakin
        - name: Martynas Girdvainis
          title: TypeScript: Rejected at First But Loved Afterwards
          description: "Can't decide if you're ready to give TypeScript a try? Let me tell you a story..."
          linkedin: https://www.linkedin.com/in/veiico/
    - name: "VilniusPHP 0x50"
      date: 2019-07-04 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hqvxqqyzkbgb/
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png

      speakers:
        - name: Aurelijus Banelis
          title: "Migrations: Hacks or architecture"
          description: |
            Realiuose projektuose be CI/CD dar lieka ir rankinio darbo.
            DNS, Network, Database, API keitimas yra sududėtingas ir kartais nešvarus (hackish) procesas, bet galima pamatyti tendenciją.
            Jei PHPUnit skatina tvarkingesnį kodą, tai gal migracijos skatina tvarkingesnę architektūrą? – apie tai ir pranešimas
          linkedin: https://www.linkedin.com/in/aurelijusbanelis/
        - name: Sergej Kurakin
          title: "Factory"
          description: Trumpa Factory ir Factory projektavimo šablonų apžvalga.
          linkedin: https://lt.linkedin.com/in/sergejkurakin
    - name: "VilniusPHP 0x4F"
      date: 2019-06-06 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hqvxqqyzjbjb/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png

      speakers:
        - name: Tomas Bareikis
          title: "Why should you Go(lang)?"
          description: |
            Go dabar yra viena iš labiausiai populiarių programavimo kalbų, bendruomenė didėja greitai, gerai žinomi įrankiai, pavyzdžiui Docker yra parašyti su šia programavimo kalba, bet kodėl…?
            Šiame pranešime kalbėsiu apie tai, kaip Go atsirado, kokios yra išskirtinės Go ypatybės.
            Taip pat, kalbėsiu apie šios programavimo kalbos ideologiją, įrankius, blogas savybes ir tai, kas laukia Go ateityje.
            Šio pristatymo tikslas nėra jus išmokyti programuoti su Go, bet padėti suprasti, kas tai yra, kodėl tai atsirado, kokias problemas padeda spręsti.
            Pristatymas yra orientuotas į auditoriją, kuri turi patirties dirbant su PHP ir/arba JS.
            Apie Go bus kalbama iš pagrindų, klausytojams nebūtina turėti išankstinių žinių apie šią kalbą.
            Pristatymo metu didžioji dalis laiko skiriama pačiai Go programavimo kalbai, tačiau bus ir vienas  kitas palyginimas su PHP programavimo kalba, kodo pavyzdžiai.
            Bus minima, kokiais atvejais Go yra labiau tinkama naudoti nei PHP ar atvirkščiai.
          linkedin: https://lt.linkedin.com/in/tomasbareikis
        - name: Aurelijus Banelis
          title: Coroutines in PHP
          description: |
            Go turi Goroutines, o PHP turi Coroutines: nors PHP veikia tik 1 gijoje/procesoriuje –
            vykdymą vis tiek galima pagreitinti.
            Ir tai galima padaryti naudojant vien PHP kalbos ir standartinės bibliotekos galimybes.
            Pranešime bus aptarti pavyzdžiai su yield (generators), CURLOPT_WRITEFUNCTION ir
            asinchroninio programavimo problemos apskritai.
          linkedin: https://www.linkedin.com/in/aurelijusbanelis/
    - name: "VilniusPHP 0x4E"
      date: 2019-05-09 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hqvxqqyzhbdb/
      ligtingTalks: true
      sponsor:
        - name: Oberlo
          url: http://www.oberlo.com
          logo: oberlo.png
      speakers:
        - name: Sergej Kurakin
          title: Metrikos
          description: "Kaip ir kokios metrikos gali padėti mums stebėti programinės įrangos elgsenos pasikeitimą."
        - name: Marius Žalinauskas
          title: Docker. Tips, Tricks and Best Practices. E1.
          description: Pasidalinsiu praktine Docker naudojimo patirtimi, kurią pavyko sukaupti per kelerius pastaruosius metus. Papasakosiu kas ir kodėl iš tikrųjų įvyksta paleidus Docker konteinerį, kaip naudojant jį as-a-tool galima prisijaukinti adminą bei kaip reikiant panardinsiu į Docker image‘ų konstravimo mechanizmą, nepažįstant kurio retam kam pavyksta paruošti tinkamą konteinerių žaliavą.
    - name: "VilniusPHP 0x4D"
      date: 2019-04-04 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hqvxqqyzgbgb/
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png
      speakers:
        - name: Justas Butkus
          title: Programinių sąsajų greitinimas
          description: |
            Sisteminiai sprendimai programinių sąsajų (API) greitaveikai pagerinti.
            Arba kaip sukurti privačią CDN alternatyvą kuri leistų pagreitinti prieigą prie
            privačių išteklių nutolusiuose tinkluose.
            Rezultatas -- sutapoma 1.5 sekundės tinklo laiko, praleidžiami apkrauti tinklo
            taškai, neprarandamas saugumas.
          linkedin: https://www.linkedin.com/in/justasbutkus/
        - name: Eligijus Stugys
          title: Blockchain in PHP. Yes, we can!
          description: Pasakosiu kaip sumeistrauti savo crypto valiutą su PHP.
          linkedin: https://www.linkedin.com/in/elyga/
    - name: "VilniusPHP 0x4C"
      date: 2019-03-07 19:00
      facebook: https://www.meetup.com/vilniusphp/events/hqvxqqyzfbkb/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Ramūnas Skarbalius
          title: "Robots?! What do they do on your website? [LT]"
          description: |
            Business owners want to see their websites in the first positions
            of the search results, no matter wether the aim is better brand
            visibility or a direct call-to-action on the e-shop. I'll share
            real examples of how we deal with “robots” on HomeToGo metasearch
            engine.
          linkedin: https://www.linkedin.com/in/ramunasskarbalius/
        - name: Povilas Balzaravičius
          title: "Ar reikia testuoti privačius metodus? [LT]"
          description: |
            Pastaruoju metu nemažai apie tai diskutavau su skirtingą nuomonę
            turinčiais inžinieriais. Pastebėjau, kad skirtingų žmonių nuomonės
            dažnai remiasi tais pačiais teiginiais kodėl galima ar negalima
            testuoti privačius metodus. Paanalizuokime šias dogmas.
          linkedin: http://lt.linkedin.com/in/pawka
        - name: Marco Rosello & Žilvinas Kuusas
          title: "PHPUnit vs. phpspec [LT]"
          linkedin: http://lt.linkedin.com/in/kuusas
          description: |
            You want to start testing but don’t know where to start?
            We'll try to answer this question by comparing PHPUnit and phpspec with some
            real-world code examples.
    - name: "VilniusPHP 0x4B"
      date: 2019-02-07 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lxwdtpyzdbkb/
      ligtingTalks: true
      sponsor:
        - name: Oberlo
          url: http://www.oberlo.com
          logo: oberlo.png
      speakers:
        - name: Lukas Skamarkas
          title: "ReactEurope conference 2k18: React context [LT]"
          linkedin: https://www.linkedin.com/in/lukas-skamarakas-aa0561108
        - name: Lucas Michot
          title: "State Machine [EN]"
          linkedin: https://www.linkedin.com/in/lucasmichot
        - name: Metod Novakovič and Niklas Lampén
          title: "PhpStorm + Docker Compose + Xdebug [EN]"
          description: |
            We will show and tell you how you can leverage the power of
            PhpStorm + Docker Compose + Xdebug to boost your productivity.
          linkedin: https://www.linkedin.com/in/lampen/
    - name: "VilniusPHP 0x4A"
      date: 2019-01-03 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lxwdtpyzcbfb/
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png
      speakers:
        - name: Martynas
          title: Google PageSpeed Is a Lie. Measuring Real Page Speed
        - name: Marco Rosello
          title: Refactoring
    - name: "VilniusPHP 0x49"
      date: 2018-12-06 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lxwdtpyxqbjb/
      ligtingTalks: true
      sponsor:
        - name: Visma
          url: http://www.visma.com
          logo: visma-logo.png
      speakers:
        - name: Audrius Bugas
          title: Learning Redis. Hard way...
          description: |
            Redis yra itin populiari nosql duomenų bazių valdymo sistema.
            Internete lengvai galima rasti puikių atsiliepimų: didžiausias
            duomenų struktūrų pasirinkimas, greitaveika, scalability. Galima
            pamanyti, kad vien tik redis įdiegimas išspręs daugelį sistemos
            plėtimo problemų. Taip manėme ir mes, tačiau kurdami didžiausią
            pasaulyje atostogų būsto nuomos paieškos sistemą HomeToGo susidūrėme
            su rimtais iššūkiais pritaikant redis milžiniškiems vartotojų
            srautams. Pasakosiu tai, ko nerasi dokumentacijoje - realios
            istorijos ir ekstremalūs sprendimai. Subalansuota PHP
            programuotojams, bet tinka visiems duomenų bazių ir technologijų
            fanams.
          linkedin: https://www.linkedin.com/in/audriusb/
        - name: Povilas Balzaravičius
          title: Let's build own unit test engine!
          description: |
            Building unit test engine actualy is really simple.
            Mocks, code coverage, tests runner and assertions are main features
            required for proper test engine. The engine which supports every of
            mentioned feature can fit to 100-200 lines and can be build in 1-2
            hours. Let's see how it works!
          linkedin: https://www.linkedin.com/in/pawka/
    - name: "VilniusPHP 0x48"
      date: 2018-11-08 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lxwdtpyxpbcb/
      ligtingTalks: true
      sponsor:
        - name: Oberlo
          url: http://www.oberlo.com
          logo: oberlo.png
      speakers:
        - name: Sergej Kurakin
          title: Decorator and Chain of Responsibility Patterns
          description: Introduction into Decorator and Chain of Responsibility Patterns.
          linkedin: https://lt.linkedin.com/in/sergejkurakin
        - name: Aurelijus Banelis
          title: Dockerizing PHP apps
          description: |
            Why and how we are using docker for development and production. Intro, what is docker,
            how to adapt PHP project to be used with docker,
            real examples of benefits and issues of using docker,
            deploying dockerized PHP apps in AWS.
          linkedin: https://www.linkedin.com/in/aurelijusbanelis/
    - name: "VilniusPHP 0x47"
      date: 2018-10-04 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lxwdtpyxnbgb/
      ligtingTalks: true
      sponsor:
        - name: Oberlo
          url: http://www.oberlo.com
          logo: oberlo.png
      speakers:
        - name: Sergej Kurakin
          title: Kubernetes - From Beginner to Beginners
          description: Introduction into exciting Kubernetes - modern tool for container orchestration.
          linkedin: https://lt.linkedin.com/in/sergejkurakin
        - name: Daniel Oliveira
          title: PHP - From code to Kubernetes
          description: What steps should be done to port your PHP Laravel project from bare metal or classic VM's to Kubernetes? What challenges will face DevOps, what challenges will face Developers? What skills should be obtained in advance by DevOps and Developers?
          linkedin: https://www.linkedin.com/in/daniel-oliveira-filho-51045a21/?locale=en_US
        - name: Irmantas Zenkus
          title: Migrating Website to React. Feature by Feature. No Downtime
          description: I will share a success story from HomeToGo. When our project grew bigger and bigger we faced issues with our previous rendering engine. Solution was not good enough and it slowed us down. I will give you good reasoning for why we chose React for a rendering engine and how we switched to it with zero down time.
    - name: "VilniusPHP 0x46"
      date: 2018-09-06 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lxwdtpyxlbdb/
      ligtingTalks: true
      sponsor:
        - name: Alliance for Recruitment
          url: https://www.afr.lt/lt
          logo: afr-logo.jpg
      speakers:
        - name: Kestutis Jasiulevičius
          title: Kaip (iš)likti darbe (like forever)
          description: Fun facts apie IT atrankas. Ką mąsto samdantysis vadovas!? Tipinės kandidato klaidos.
        - name: Žilvinas Kuusas
          title: Reducing on-call stress
          description: The story about how we manage on-call rotations, service and infrastructure monitoring at Dokobit to reduce stress levels while being on on-call shifts.
          linkedin: https://www.linkedin.com/in/kuusas
        - name: Sergej Kurakin
          title: "PSR: standardising HTTP"
          description: Framework Interoperability Group in PSRs has few recommendations related to HTTP. Let’s review them and see benefits we can get from using them.
          linkedin: https://lt.linkedin.com/in/sergejkurakin
    - name: "VilniusPHP 0x45"
      date: 2018-08-02 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lxwdtpyxlbdb/
      ligtingTalks: true
      sponsor:
        - name: Estina
          url: http://www.estina.lt
          logo: estina-logo.png
      speakers:
        - name: Žilvinas Gasiūnas
          title: Volatility based software decomposition
          linkedin: https://www.linkedin.com/in/zilvinas
        - name: Marco Rosello
          title: Monitoring with New Relic Synthetics
          linkedin: https://www.linkedin.com/in/marco-rosello-082b942b/
    - name: "VilniusPHP 0x44"
      date: 2018-07-12 19:00
      facebook: https://www.meetup.com/vilniusphp/events/lxwdtpyxkbhb/
      ligtingTalks: true
      sponsor:
        - name: Oberlo
          url: http://www.oberlo.com
          logo: oberlo.png
      speakers:
        - name: Sergej Kurakin
          title: Atomic Commits
          description: Every day we commit our code into VCS. We commit typos and bug fixes, we refactor code, we add new features. But is there a way to commit our code in a better way?
          linkedin: https://lt.linkedin.com/in/sergejkurakin
        - name: Lucas Michot
          title: Response Preconditions
          linkedin: https://www.linkedin.com/in/lucasmichot
    - name: "VilniusPHP 0x43"
      date: 2018-06-07 19:00
      facebook: https://www.meetup.com/vilniusphp/events/250786569/
      ligtingTalks: true
      sponsor:
        - name: Visma
          url: https://www.visma.lt/
          logo: visma-logo.png
      speakers:
        - name: Aurelijus Banelis
          title: PWA with Symfony 4
          description: |
            <i>Progressive Web Apps</i> (PWA) palaikymas naršyklėse vis didėja,
            bet ar PWA yra tema tik Frontend'ui?
            Pranešime bus pasakojama, kaip pasiruošti aplinką
            patogiam PWA naudojimui savo Symfony 4 projekte:
            dažniausios klaidos, infrastruktūra,
            principai, kuriuos reikia permąstyti, bei vieta naujoms galimybėms
          linkedin: https://www.linkedin.com/in/aurelijusbanelis/
        - name: Šarūnas Bartusevičius
          title: When PHP doesn’t fit: introduction to Erlang world
          description: |
            Pranešime supažindinsiu su Erlang funkcinės kalbos pagrindais:
            izoliuotais procesais, actor model, "let it crash" filosofija,
            asinchroniškumu ir t. t. Palyginsiu su PHP, apžvelgdamas, kokias
            problemas patogiau spręsti su PHP, o kada kur kas paprasčiau su
            Erlang.
          linkedin: https://www.linkedin.com/in/šarūnas-bartusevičius-243407159/
    - name: "VilniusPHP 0x42"
      date: 2018-05-03 19:00
      facebook:
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png
      speakers:
        - name: Darius Leskauskas
          title: API Platform
        - name: Žilvinas Kuusas
          title: Ansible: infrastructure automation for everyone
        - name: Arnas Petruškevičius
          title: Lightning talk: How we scale MySQL
        - name: Sam Anthony
          title: Lightning talk: How to run PHP on AWS Lambda
        - name: Marius Balčytis
          title: Lightning talk: Mocks, stubs and prophesies
    - name: "VilniusPHP 0x41"
      date: 2018-04-05 19:00
      facebook:
      ligtingTalks: true
      sponsor:
        - name: VISMA
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Rimantas Liubertas
          title: CSS istorija ir modernus CSS
          description: Grįšime į laikus, kai interneto puslapiai buvo konstruojami iš <code>&lt;table&gt;</code>. Pamatysime kaip atsirado CSS ir kaip toliau jis vystėsi, kol galiausiai susipažinsime su šiuolaikinio CSS galimybėmis.
        - name: Marius Balčytis
          title: Real-time PHP pasaulyje: kaip pranešti naršyklei, kad kažkas įvyko?
          description: Kai naršyklėje reikia pastebėti pasikeitimus, paprastai PHP pasaulyje pirmas, paprasčiausias pasirinkimas būna <em>polling</em>. Žinoma, ne vienam pažįstamos ir geresnės alternatyvos, kaip <em>WebSockets</em>, tačiau čia galvos skausmai prasideda dėl integracijos su PHP. Pašnekėsiu, kaip tai pasiekti naudojant Pusher, jo alternatyvas, skirtingus kanalus ir jų skirtumus, autentifikacijos schemą.
          linkedin: https://www.linkedin.com/in/mariusbalcytis/
        - name: Vidmantas Norkus
          title: Websocket (lightning talk)
          description: Websocketo taikymo pavyzdžiai, php websocketo demonas, php websocketo klientas
    - name: "VilniusPHP 0x40"
      date: 2018-03-01 19:00
      facebook:
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Žilvinas Kuusas
          title: Automated cryptocurrency trading
          description: Papasakosiu kaip sekėsi kurti savo botą, kuris stebėtų kripto valiutų svyravimus ir bandytų iš to uždirbti.
          linkedin: https://lt.linkedin.com/in/kuusas
    - name: "VilniusPHP 0x3F"
      date: 2018-02-01 19:00
      facebook: https://www.meetup.com/vilniusphp/events/ndssdpyxdbcb/
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png
      speakers:
        - name: Justas Butkus
          title: Nepaprastas saugumas
          description: Apie autorizacijos metodus, taikymą, ir priemones bei jų priklausomybę nuo aplinkos bei aplinkybių.
          linkedin: https://www.linkedin.com/in/justasbutkus/
        - name: Marius Balčytis
          title: Didelių veikiančių sistemų migravimo strategijos: kaip išbristi iš legacy kodo?
          description: |
            Visuomet smagu dirbti nuo nulio ant <em>shinny and bright</em> karkasų su savo gerosiomis praktikomis
            ir, kas be ko, vien tik nuostabiu mūsų pačių rašytu kodu. Deja, gyvenimas kartais paduoda ir kiek kitokio
            kodo bazės sistemas, kurios realiai ir verčia verslą suktis. Susiduriame su dilema - projektas generuoja
            pajamas, sustabdyti nieko negalime, tačiau su tokiu kodu toliau gyventi negalime ar bent jau tikrai nenorime.
            Pašnekėsiu iš asmeninės patirties apie tai, kaip galime migruoti nuo pasenusio kodo iki naujausių karkasų:
            kokios strategijos ne itin pasiteisina, o kas sėkmingai suveikė.
          linkedin: https://www.linkedin.com/in/mariusbalcytis/
    - name: "VilniusPHP 0x3E"
      date: 2018-01-04 19:00
      facebook: https://www.meetup.com/vilniusphp/events/ndssdpyxcbgb/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Justas Butkus
          title: Palaikykite mano gėrimą (red. pastaba: nealkoholinį)
          description: Kaip pasiruošti ir atlikti neversijuotus pakeitimus tiesiogiai klientų matomose sistemose, nuo kurių veikimo priklauso tūkstančių žmonių gebėjimas atlikti operacijas reliame pasaulyje kiekvieną sekundę.
          linkedin: https://www.linkedin.com/in/justasbutkus/
        - name: Sergej Kurakin
          title: Dead Letters (mirę pranešimai)
          description: Būna situacijų kai vienintelis pranešimas, patekęs į pranešimų eilę, sulaužo Jūsų sistemos veikimą. Kaip tai atsitinka? Ką daryti? Ar galima neprarasti šių pranešimų? Apie tai ir bus šis pranešimas.
          linkedin: https://www.linkedin.com/in/sergejkurakin
    - name: "VilniusPHP 0x3D"
      date: 2017-12-05 19:00
      facebook: https://www.meetup.com/vilniusphp/events/llznkmywqbkb/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Aurelijus Banelis
          title: Real-time metrics with netdata
          description: |
            Programuotojai žino, ką sistema turėtų daryti, bet ar tikrai žinome, kas vyksta, kai ją paleidžiame?..
            ir tada pripažįstame ir einame debug'inti. Realaus laiko metrikos yra vienas iš būdų suvokti,
            kas realiai vyksta sistemoje, ypač kai įkeliama nauja versija.
            Pranešime bus pristatytas netdata įrankis, kompromisai tarp realaus laiko ir vėluojančių metrikų,
            logų vs metrikų, detalios vs agreguotos, metrikų naudojimas PHP ekosistemoje
          linkedin: https://www.linkedin.com/in/aurelijusbanelis/
        - name: Eimantas Norkūnas
          title: Nematomas programavimas. Mailerlite istorija
          description: |
            Per 7 metus aplikacija užaugo nuo vieno iki dešimčių tūkstančių vartotojų.
            Duomenų bazės užima virš 5 terabaitų ir atlieka 50 milijonų transakcijų kas dieną.
            Kad tai vyktų greitai ir sklandžiai, buvo nueitas nemažas kelias tobulinant infrastruktūrą
            ir programinį kodą.
            Vienas iš Mailerlite įkūrėjų pasidalins patirtimi kokie pagrindiniai
            'fully scalable' aplikacijos kūrimo principai bei su kokiais iššūkiais komanda susidūrė,
            kokias klaidas padarė ir ką dabar darytų kitaip.
            Sukurti lengvai plečiamą aplikaciją yra labai sunku ar visgi - labai lengva?
          linkedin: https://www.linkedin.com/in/eimantas-norkunas-070aaa3/
    - name: "VilniusPHP 0x3C"
      date: 2017-11-09 19:00
      facebook: https://www.meetup.com/vilniusphp/events/244243746/
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png
      speakers:
        - name: Marius Balčytis
          title: Semantinis versijavimas ir kontraktai programiniame kode
          description: |
            Norint pagaminti dideles, patikimas sistemas greitai, visuomet naudojamės kitų ar savo pačių
            parašytomis bibliotekomis. Taip galime perpanaudoti kodą - ne tik savo pačių rašytą,
            bet ir bet kieno kito iš Open Source Community. Deja, augant komponentų kiekiui, tampa vis sunkiau
            suvaldyti jų visų priklausomybes, kad visos dalys derėtų tarpusavyje. Susitikę būtent ir pašnekėsim,
            kaip galime tas priklausomybes valdyti ir kaip išvengti didesnių problemų vystant tuos komponentus.
          linkedin: https://www.linkedin.com/in/mariusbalcytis/
        - name: Daumantas Urbanavičius
          title: Event’ų ir observer pattern’o naudojimas  - pavyzdžiai ir skirtingi use case’ai
          description: |
            Kas yra observer ir kaip tai veikia
            Logas
            Automatinis logas
            Notifikacijos
            Reportų generavimas  eventų pagalba
            Rūšiavimo indekso atnaujimas eventų pagalba
          linkedin: https://www.linkedin.com/in/daumantas-urbanavičius-2a539550/
        - name: Žilvinas Kuusas
          title: Continuous Delivery: praktika ir nauda
          description: |
            Sparčiai auganti sistema su įvairiom posistemėm ir sulėtėjęs developmento
            procesas privertė susimąstyti - kokiom priemonėm galima būtų viską paspartinti?
            Neaukojant kokybės, nes kokybė pagrindinis mūsų kriterijus.
            Nepridedant papildomos darbo jėgos, nes papildomos žmogvalandės nevisada
            garantuoja didesnį vertės kūrimą.
            Tad tikslas - identifikuoti problemas ir sumažinti vieno developerio
            užduoties gyvavimo laiką: nuo kodo rašymo pradžios iki išėjimo į produkcinę aplinką.
    - name: "VilniusPHP 0x3B"
      date: 2017-10-05 19:00
      facebook: https://www.meetup.com/vilniusphp/events/243176261/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.com
          logo: nfq-logo.png
      speakers:
        - name: Sergej Kurakin
          title: NGINX Unit
          description: NGINX yra “de facto” standartinis sprendimas kuriant didelio našumo tinklapius kuris buvo pradėtas kurti dar prieš 12 metų. Visai neseniai jo kūrėjai pristatė savo naują produktą NGINX Unit - jų manimu trūkstamą grandį tarp mūsų WEB aplikacijų, NGINX serverio ir NGINX Inc ateities planų. Kas gi tas NGINX Unit ir ką jis daro - būtent apie tai ir bus šis pranešimas.
          linkedin: https://lt.linkedin.com/in/sergejkurakin
        - name: Justas Butkus
          title:  Niekuo negalima pasitikėti
          description: Apie problemas ir sprendimus naudojant trečiųjų (nebūtinai) šalių sistemas. Kodėl net ir labai žinomos kompanijos klysta ir kam prasminga pasirengti kuriant aktyviai naudojamas paslaugas.
          linkedin: https://www.linkedin.com/in/justasbutkus/
    - name: "VilniusPHP 0x3A"
      date: 2017-09-07 19:00
      facebook: https://www.meetup.com/vilniusphp/events/242217302
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png
      speakers:
        - name: Sergej Kurakin
          title: MySQL InnoDB Cluster
          description: MySQL InnoDB Cluster - naujas MySQL funkcionalumas siekiant sukurti aukšto prieinamumo sprendimą naudojant tik MySQL kurtą programinę įrangą. Tai trumpas pristatymas apie klasterio kūrimui panaudotus komponentus, jo veikimo principus bei trumpa demonstracija kaip tai veikia su PHP projektu.
          linkedin: https://lt.linkedin.com/in/sergejkurakin
        - name: Justas Butkus
          title: Daugiakalbystė kaip projekto stilius
          description: Apie projekto vystymą, kuomet maišoma daug skirtingų technologijų: kylančios bėdos, galimi sprendimo būdai, ir kada būtų geriau to visai vengti, o kada tai gali būti turbūt geriausias sprendimas.
          linkedin: https://www.linkedin.com/in/justasbutkus/
    - name: "VilniusPHP 0x39"
      date: 2017-08-03 19:00
      facebook: https://www.meetup.com/vilniusphp/events/240612123/
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png
      speakers:
        - name: Sergej Kurakin
          title: MySQL JSON
          description: Jei tu praleidai naujieną, kad MySQL nuo 5.7 versijos palaiko naują duomenų tipą JSON ir turi net specialias darbui su JSON skirtas funkcijas - ši prezentacija kaip tik tau!
          linkedin: https://lt.linkedin.com/in/sergejkurakin
        - name: Kęstutis Parchutikas
          title: JavaScript injection - XSS
    - name: "VilniusPHP 0x38"
      date: 2017-07-13 19:00
      facebook: https://www.meetup.com/vilniusphp/events/240288817/
      ligtingTalks: true
      sponsor:
        - name: Tesonet
          url: http://www.tesonet.com
          logo: tesonet.png
      speakers:
        - name: Sergej Kurakin
          title: Linux High Availability Cluster - Pacemaker ir Corosync
          description: Pristatymas bus apie vieną mano senai atliktą eksperimentą siekiant užtikrinti “High Availability” savybes Load-Balancer NGINX serveriui. Papasakosiu, kas yra Linux Cluster, kokie yra komponentai ir ką jie daro, o jei viskas bus gerai, parodysiu kaip veikia.
          linkedin: https://lt.linkedin.com/in/sergejkurakin
        - name: Marius Balčytis
          title: Backward compatibility: deploying without downtime
          description: Pirma, šiek tiek apie pačius deployment'us bei kaip juos daryti be perstojo veikiančioje ir gausiai naudojamoje sistemoje. Antra - apie duomenų bazės bei kodo pritaikymą, siekiant sklandaus veikimo atnaujinant sistemą.
          linkedin: https://www.linkedin.com/in/mariusbalcytis/
        - name: Arnas Petruškevičius
          title: Rest API 101
          description: Web'as keičiasi, ir dabar kiekvienam dalykui reikia API. Kaip namint routus ? Kokius http metodus naudot? Kaip handlint errorus? Kaip daryt pakeitimus kurie nesugriautų infrastruktūrų kurios remiasi ant šio API? Apie tai ir bandysiu papasakot.
          linkedin: https://www.linkedin.com/in/arnaspet/
    - name: "VilniusPHP 0x37"
      date: 2017-06-01 19:00
      facebook: https://www.meetup.com/vilniusphp/events/240093018/
      ligtingTalks: true
      sponsor:
        - name: Oberlo
          url: http://www.oberlo.com
          logo: oberlo.png
      speakers:
        - name: Aurelijus Banelis
          title: Headless browsers and friends
          description: Paprastas naršyklės imitavimas vien su PHP, Headless Chrome, UI testavimas per Docker. T.y. ne vien apie Selenium ir PhantomJS
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Sergej Kurakin
          title: "“tmux” ir “GNU Screen”"
          description: Jei jau išmokote truputi Linux OS ir tenka dirbti su nuotoliniais serveriais per SSH, bet dar neteko girdėti ar naudoti “tmux” arba “GNU Screen” - šis trumpas pranešimas kaip tik Jums!
          linkedin: https://lt.linkedin.com/in/sergejkurakin
        - name: Marijus Kilmanas
          title: (D?)DoS
          description: DDoS atakos
          linkedin: http://www.linkedin.com/in/marijuskilmanas
    - name: "VilniusPHP 0x36"
      date: 2017-05-04 19:00
      facebook: https://www.meetup.com/vilniusphp/events/238532789/
      ligtingTalks: true
      sponsor:
        - name: Oberlo
          url: http://www.oberlo.com
          logo: oberlo.png
      speakers:
        - name: Audrius Bugas
          title: "Application Autoscaling on AWS: HomeToGo case"
          linkedin: https://www.linkedin.com/in/audriusb/
        - name: Sergej Kurakin
          title: Come to the TypeScript - we have type hinting!
          description: Ne, tai ne agitavimas pereiti į TypeScript stovyklą, tai tik trumpas TypeScript pristatymas - kaip tai atrodo jei ateini iš PHP pasaulio.
          linkedin: https://lt.linkedin.com/in/sergejkurakin
        - name: Žilvinas Kuusas
          title: Pre-merge code reviews
          description: Kaip paprastai ir efektyviai pakelti projekto kokybę
          linkedin: https://lt.linkedin.com/in/kuusas
    - name: "VilniusPHP 0x35"
      date: 2017-04-06 19:00
      facebook: https://www.meetup.com/vilniusphp/events/238500331/
      ligtingTalks: true
      sponsor:
        - name: Oberlo
          url: http://www.oberlo.com
          logo: oberlo.png
      speakers:
        - name: Darius Leskauskas
          title: Neural networks with PHP
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
        - name: Marijus Briedis
          title: TICK stack'o K - Kapacitor
          description: Monitoringas, duomenų, kaip molio minkymas ir anomalijų detektavimas su Kapacitor
        - name: Sergej Kurakin
          title: Supervisor
          description: Trumpas įvadas tiems, kas nėra susipažinęs su Supervisor ir kaip jis naudojamas su PHP
          linkedin: https://lt.linkedin.com/in/sergejkurakin
    - name: "VilniusPHP 0x34"
      date: 2017-03-02 19:00
      facebook: https://www.facebook.com/events/1860509057526790/
      ligtingTalks: true
      sponsor:
        - name: VISMA
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Emanuelis Norbutas
          title:  10k metrics/s on a VM? With off-the-shelf software? Possible!
        - name: Linas Kukulskis
          title: Application Feature Monitoring
        - name: Jaro Šatkevič
          title: GraphQL - Better way to build your API
    - name: "VilniusPHP 0x33"
      date: 2017-02-02 19:00
      facebook: https://www.facebook.com/events/781510928663534
      ligtingTalks: true
      sponsor:
        - name: VISMA
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Justinas Rakašis
          title: Slim PHP - kam dar vienas microframework'as?
          description: Kas tas Slim PHP? Micro framework'as skirtas tik paprastam CRUD'ui ar PoC? Ar verta naudoti prod'e? Kas bus ateity? Swag'as, istorija, examples ir atsakymai garantuoti.
        - name: Marius Grigaitis
          title: Saugumas
          description: Kaip išvengti klaidų, dėl kurių vėliau nereikėtų kaip Vaigauskui raudonuoti prieš kameras. Kitaip tariant, kodėl saugumas yra svarbu, kokios spragos dažniausiai paliekamos ir kaip jų išvengti.
    - name: "VilniusPHP 0x32"
      date: 2017-01-05 19:00
      facebook: https://www.facebook.com/events/925097280959838/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Aurelijus Banelis
          title: Mutation testing
          linkedin: https://www.linkedin.com/in/aurelijusbanelis
        - name: Audrius Bugas
          title: Feature Toggle: HomeToGo Use Case
          linkedin: https://www.linkedin.com/in/audriusb
    - name: "VilniusPHP 0x31"
      date: 2016-12-01 19:00
      facebook: https://www.facebook.com/events/812874555481833/
      ligtingTalks: true
      sponsor:
        - name: Visma
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Jevgenij Liachovič
          title: Codeception. Theory & experience
        - name: Dmitrijus Glezeris
          title: ReactJs server rendering
    - name: "VilniusPHP 0x30"
      date: 2016-11-03 19:00
      ligtingTalks: true
      sponsor:
        - name: Build Stuff
          url: http://www.buildstuff.lt
          logo: buildstuff.png
      speakers:
        - name: Marco Rosello
          title: PHP7 and Beyond
        - name: Gediminas Morkevičius
          title: What you should know about databases
        - name: Paulius Rimavičius
          title: Iš programuotojo į verslininką
    - name: "Vilnius PHP ❤ Vilnius JS"
      date: 2016-10-06 19:00
      facebook: https://www.facebook.com/events/1767219833565772/
      ligtingTalks: true
      sponsor:
        - name: Build Stuff
          url: http://www.buildstuff.lt
          logo: buildstuff.png
      speakers:
        - name: Marius Balčytis
          title: Procedural programming FTW („yra kieta“)
          description: Sulaužysim vieną pagrindinių OOP principų, skiriančių jį nuo procedūrinio programavimo — atskirsime duomenis nuo juos valdančios logikos. Bandysiu įtikinti, kad toks būdas (dar vadinamas Anemic Domain Model) gali padėti rašyti pakartotinai panaudojamą ir lengviau palaikomą kodą.
        - name: Haim Michael
          title: TypeScript, Dart, CoffeeScript and JavaScript Comparison
          description: Following the emergence of ECMAScript 2015 many developers wonder about the added value of using TypeScript. The same apply for many other programming languages that transpile into JavaScript, such as CoffeeScript, Dart, Scala.js, ELM and others. During our meeting we will go through a detailed comparison that overviews the capabilities of TypeScript, Dart and CoffeeScript (comparing with each other) as well as their added value comparing with writing our code in ECMAScript 2015.
        - name: Avishai Ish-Shalom
          title: Future of O/S
          description: Linux distros and Windows NT both date back to 1993 and the principles of the operating systems we use today are rooted in that era. The way we use O/S and software has changed dramatically since, and the role of O/S has shifted considerably, giving birth to many tools trying to bridge the gap. This talk will cover the evolution of O/S in recent years and emerging trends which may prevail in the near future.
        - name: Christian Zacharias
          title: What makes a good developer?
    - name: "VilniusPHP 0x2E"
      date: 2016-09-01 19:00
      facebook: https://www.facebook.com/events/1780414075571435/
      ligtingTalks: true
      sponsor:
        - name: Build Stuff
          url: http://www.buildstuff.lt
          logo: buildstuff.png
      speakers:
        - name: Povilas Sušinskas
          title: To Comment Or Not To Comment
        - name: Aurelijus Banelis
          title: Docker on VDS
          description: Kas yra Docker'is, kaip ant LIVE VDS'o, DEMO su įmantrybių pavyzdžiais ir kodėl Docker'io kartais nemėgstu
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Justas Butkus
          title: R^1: Rekursija kaip architektūrinio požiūrio problema
          description: Kokios problemos kyla ir kaip jas spręsti, kai architektas įsisuka į (tariamai gražių) sprendimų ciklą
          linkedin: https://www.linkedin.com/in/justasbutkus
    - name: "VilniusPHP 0x2D"
      date: 2016-08-04 19:00
      facebook: https://www.facebook.com/events/608585472648593/
      ligtingTalks: false
      sponsor:
        - name: Uber
          url: http://www.uber.com/
          logo: uber.png
      speakers:
        - name: Povilas Balzaravičius
          title: Managing Technical Debt
          linkedin: http://lt.linkedin.com/in/pawka
        - name: Sergej Kurakin
          title: HTTP/2 Out Of The Box
          description: Can you get it with "stable" Linux?
          linkedin: https://lt.linkedin.com/in/sergejkurakin
    - name: "VilniusPHP 0x2C"
      date: 2016-07-07 19:00
      facebook: https://www.facebook.com/events/1109986492407844/
      ligtingTalks: false
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Gintaras Sakalauskas
          title: Lava layer antipattern
          linkedin: https://www.linkedin.com/in/gintaras-sakalauskas-34219838
        - name: Tautrimas Pajarskas
          title: Reverse Image Search at Scale
          linkedin: https://www.linkedin.com/in/tautrimas
    - name: "VilniusPHP 0x2B: Vilnius PHP Summer Opening"
      date: 2016-06-02 19:00
      facebook: https://www.facebook.com/events/1299662693382021/
      ligtingTalks: false
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Adam Terlson
          title: Does GoogleBot Scroll? Creating SEO-friendly Apps with JavaScript (and without Node)
          linkedin: https://de.linkedin.com/in/adamterlson
        - name: Lars Strojny
          title: Rewriting your application without killing the business
          linkedin: https://de.linkedin.com/in/lstrojny
    - name: "Susitikimas 0x2A"
      date: 2016-05-05 19:00
      facebook: https://www.facebook.com/events/1615109875477540/
      ligtingTalks: true
      sponsor:
        - name: Uber
          url: http://www.uber.com/
          logo: uber.png
      speakers:
        - name: Mindaugas Barysas
          title: Engineering the unknown
        - name: Sergej Kurakin
          title: LXC - Įrankis eksperimentams
          description: Kas yra LXC, kuo jis man patiko, kaip naudoti ir trumas demo.
          linkedin: https://lt.linkedin.com/in/sergejkurakin
    - name: "Susitikimas 0x29: fuckup night"
      date: 2016-04-07 19:00
      facebook: https://www.facebook.com/events/226604637687171/
      ligtingTalks: true
      masterTopic: Visi pripratę prie gražių, saldžių istorijų. Vienas sėkmingai prižiūri labai didelius projektus, kitas sėkmingai naudoja galingus įrankius... Tačiau kaip visa tai pasiekė?<br> Ne visada programuotojų kelias rožėm klotas, tad šį kartą pranešėjai pristatys savo "fuckup" istorijas. Ką ir kaip yra sugadinę ir ko, kiekviena padaryta klaida, išmokė.<br> DĖMESIO! Lauksime prisipažinimų iš auditorijos: atskleidęs didžiausią savo fuckup'ą - gaus "Vilnius PHP" marškinėlius.
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Žilvinas Kuusas
          title: Things I fucked up
          linkedin: http://lt.linkedin.com/in/kuusas
        - name: Gediminas Morkevičius
          title: Things I fucked up
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Darius Leskauskas
          title: Things I fucked up
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
    - name: "Susitikimas 0x28"
      date: 2016-03-03 19:00
      facebook: https://www.facebook.com/events/541550116022766/
      ligtingTalks: true
      sponsor:
        - name: Visma
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Osvaldas Grigas
          title: Names Are Supposed To Be Hard
          linkedin: https://lt.linkedin.com/in/ogrigas
        - name: Povilas Sušinskas
          title: Elasticsearch scoring
    - name: "Susitikimas 0x27"
      date: 2016-02-04 19:00
      facebook: https://www.facebook.com/events/535716069936219/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Mažvydas Skuodas
          title: Daugiau nei Darbas - Programuotojo Amatas
        - name: Aurelijus Banelis
          title: Inverting client-server architecture
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
    - name: "Susitikimas 0x26"
      date: 2016-01-07 19:00
      facebook: https://www.facebook.com/events/1537806383177767/
      ligtingTalks: true
      sponsor:
        - name: Visma
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Aurelijus Banelis
          title: Multi-Model Databases
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Oleg Nikolajev
          title: Digi LAMP. Apie infrastruktūrą: kaip viskas atrodo ir sukasi, tools'ai, kodas ir požiūris į kodą, kai jį reikia priziūreti N metų, įmonės workflow.
        - name: Justas Butkus
          title: Viskas blogai. Reikia perrašyti iš naujo. Kada, kodėl ir kaip.
          linkedin: https://www.linkedin.com/in/justasbutkus
    - name: "Susitikimas 0x25"
      date: 2015-12-03 19:00
      facebook: https://www.facebook.com/events/192046447798267/
      ligtingTalks: true
      masterTopic: VilniusPHP 3-iasis gimtadienis
      sponsor:
        - name: Visma
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Sergej Kurakin
          title: Kodėl aš skaitau pranešimus
          linkedin: http://www.linkedin.com/in/sergejkurakin
        - name: Osvaldas Grigas
          title: Enemies of Agile Design
          linkedin: https://lt.linkedin.com/in/ogrigas
        - name: Greg Young
          title: Fail
    - name: "Susitikimas 0x24"
      date: 2015-11-05 19:00
      facebook: https://www.facebook.com/events/872060149544132/
      ligtingTalks: true
      masterTopic:
      sponsor:
        - name: Build Stuff
          url: http://www.buildstuff.lt
          logo: buildstuff.png
      speakers:
        - name: Žilvinas Kuusas
          title: Baby Steps to Domain-Driven Design
          linkedin: http://lt.linkedin.com/in/kuusas
        - name: Mantas Klasavicius
          title: Measure Everything, Not Anything
    - name: "CodeWeek edition"
      date: 2015-10-15 19:00
      facebook: https://www.facebook.com/events/1675344716034508/
      masterTopic: Šiais metais vėl prisidėdami prie Europos programavimo savaitės iniciatyvos (CodeWeek.eu) rengiame meetupą orientuotą į pradedančiuosius PHP programuotuojus ar norinčius jais tapti.
      sponsor:
        - name: Build Stuff
          url: http://www.buildstuff.lt
          logo: buildstuff.png
      speakers:
        - name: Aurelijus Banelis
          title: Išlipus iš vieno PHP failo
          description: Kai jau pavyko parašyti pirmą programą su PHP, kur eiti toliau, kaip tapti PHP profesionalu? Dalinamasi praktine patirtimi, kas pasiteisino, nuo ko ir kodėl pradėti gilintis PHP pasaulyje.
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Gediminas Morkevičius
          title: From zero to hero
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Justas Butkus
          title: Įrankių svarba, arba Aho, Weinberger ir Kernighan palikimas
          linkedin: https://www.linkedin.com/in/justasbutkus
        - name: Marijus Kilmanas
          title: Xdebug: What is it good for?
          linkedin: http://www.linkedin.com/in/marijuskilmanas
    - name: "Susitikimas 0x22"
      date: 2015-09-03 19:00
      facebook: https://www.facebook.com/events/1622724757984131/
      ligtingTalks: true
      sponsor:
        - name: Build Stuff
          url: http://www.buildstuff.lt
          logo: buildstuff.png
      speakers:
        - name: Marius Bieliauskas
          title: Elastic Stack (ELK)
          linkedin: https://www.linkedin.com/profile/view?id=124975516
        - name: Darius Leskauskas
          title: Code review: techniques & best practices
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
    - name: "Susitikimas 0x21"
      date: 2015-08-06 19:00
      facebook: https://www.facebook.com/events/437523836427610/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Mantas Zimnickas
          title: Ansible
          linkedin: https://www.linkedin.com/in/sirex
        - name: Aurelijus Banelis
          title: Svetainių pritaikymas akliesiems
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
    - name: "Susitikimas 0x20"
      date: 2015-07-02 19:00
      facebook: https://www.facebook.com/events/101505413524346/
      ligtingTalks: true
      sponsor:
        - name: TransferGo
          url: https://www.transfergo.com
          logo: transfergo.png
      speakers:
        - name: Povilas Balzaravičius
          title: Reducing load with RabbitMQ
          linkedin: http://lt.linkedin.com/in/pawka
        - name: Gediminas Šedbaras
          title: Introduction to CQRS and Event Sourcing
          linkedin: https://nl.linkedin.com/in/gsedbaras
    - name: "Susitikimas 0x1F"
      date: 2015-06-04 19:00
      facebook: https://www.facebook.com/events/749158505182750/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Sergej Kurakin
          title: Continuous Delivery - Almost Continuous Almost Delivery
          linkedin: http://www.linkedin.com/in/sergejkurakin
        - name: Tautrimas Pajarskas
          title: CasperJS: How to start testing legacy projects
          linkedin: https://lt.linkedin.com/in/tautrimas
    - name: "Susitikimas 0x1E"
      date: 2015-05-07 19:00
      facebook: https://www.facebook.com/events/284775384980026/
      ligtingTalks: true
      sponsor:
        - name: Cardinity
          url: https://www.cardinity.lt
          logo: cardinity.png
          title: Lengvas būdas priimti atsiskaitymus kredito ir debeto kortelėmis internetu.
      place:
          name: '"Alaus studija"'
          address: S.Žukausko g. 20, Vilnius
          mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Vaidas Jusevičius
          title: Mitigating the risk of fraudulent credit card payments
        - name: Juozas Kaziukėnas
          title: PyHP
          linkedin: http://www.linkedin.com/in/juozas/lt
    - name: "Susitikimas 0x1D"
      date: 2015-04-02 19:00
      facebook: https://www.facebook.com/events/614903015277558/
      sponsor:
        - name: Uber
          url: http://www.uber.com
          logo: uber.png
      speakers:
        - name: Mangirdas Skripka
          title: SAAS produktų kūrimas be papildomų pastangų
          linkedin: https://www.linkedin.com/in/mangirdasskripka
        - name: Mindaugas Mozūras
          title: AB Testing Evolution at Vinted
          linkedin: http://lt.linkedin.com/in/mindaugasmozuras/en
        - name: Simonas Šerlinskas
          title: Kaip sukurti projektą su ONGR?
          linkedin: http://lt.linkedin.com/in/simonasserlinskas
    - name: "Susitikimas 0x1C"
      date: 2015-03-05 19:00
      facebook: https://www.facebook.com/events/1032816803399814/
      speakers:
        - name: Darius Leskauskas
          title: Projekto daugiakalbiškumas (translations)
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
        - name: Artūras Šmorgun
          title: PHP Profiling
          linkedin: http://uk.linkedin.com/in/arturassmorgun/
    - name: "Susitikimas 0x1B"
      date: 2015-02-05 19:00
      facebook: https://www.facebook.com/events/340585669464931/
      sponsor:
        - name: Visma
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Mangirdas Skripka
          title: Deployment on shared hosting
          linkedin: https://www.linkedin.com/in/mangirdasskripka
        - name: Žilvinas Kuusas
          title: Using Capifony for Symfony apps deployment
          linkedin: http://lt.linkedin.com/in/kuusas
#        - name:
#          title:
#          linkedin:
    - name: "Susitikimas 0x1A"
      date: 2015-01-08 19:00
      facebook: https://www.facebook.com/events/305187243015555/
#      sponsor:
#        - name:
#          url:
#          logo:
      speakers:
        - name: Aurelijus Banelis
          title: OrientDB in practice
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Sergej Kurakin
          title: SphinxSearch Real-Time Index
          linkedin: http://www.linkedin.com/in/sergejkurakin
#        - name:
#          title:
#          linkedin:
    - name: "Susitikimas 0x19"
      date: 2014-12-04 19:00
      facebook: https://www.facebook.com/events/796250430431230/
      speakers:
        - name: Žilvinas Kuusas
          title: Mikroservisų architektūra
          linkedin: http://lt.linkedin.com/in/kuusas
        - name: Sergej Kurakin
          title: PHP QA Tools
          linkedin: http://www.linkedin.com/in/sergejkurakin
        - name: Gediminas Morkevičius
          title: Kick-ass dev environment - tools I recommend for development process
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
    - name: "Susitikimas 0x18"
      sponsor:
        - name: Paysera
          url: http://www.paysera.lt
          logo: paysera.png
      date: 2014-11-06 19:00
      facebook: https://www.facebook.com/events/1562030720698394
      speakers:
        - name: Sergej Kurakin
          title: Gearman - Hidden gears of your application
          linkedin: http://www.linkedin.com/in/sergejkurakin
        - name: Darius Kasperavičius
          title: Introduction to Design Patterns
          linkedin: https://www.linkedin.com/in/dardar
        - name: Emanuelis Norbutas
          title: Ko (dažniausiai) nežino (pradedantieji) web programuotojai?
          linkedin: http://lt.linkedin.com/in/emanuelis


    - name: "CodeWeek.eu edition"
      date: 2014-10-15 19:00
      facebook: https://www.facebook.com/events/1474215222832145
      speakers:
        - name: Donatas Mačiūnas
          title: Git pradmenys
          linkedin: https://www.linkedin.com/pub/donatas-maciunas/1/b40/91b
        - name: Mindaugas Pelionis
          title: Composer - Dependency Manager for PHP
          linkedin: http://lt.linkedin.com/pub/mindaugas-pelionis/3/359/315
        - name: Marius Grigaitis
          title: Saugumas. Pagrindiniai principai ir dažniausiai paliekamos spragos
          linkedin: http://lt.linkedin.com/pub/marius-grigaitis/29/173/a3

    - name: "Susitikimas 0x16"
      date: 2014-09-04 19:00
      facebook: https://www.facebook.com/events/1675131712712873
      speakers:
        - name: Vytenis Darulis
          title: Silex mikrokarkasas ir legacy kodas
          linkedin: https://www.linkedin.com/in/vytenisdarulis
        - name: Audrius Jankauskas
          title: Ką šiandien reiškia būti Front-end developeriu? Ką turi žinoti ir mokėti. Iššūkiai, kurie tavęs laukia.
          linkedin: https://www.linkedin.com/in/audriusjankauskas
        - name: Mangirdas Skripka
          title: Kaip išsukti pasaulinį IT projektą Kodėl WordPress, Twitter, Medium išvažiavo, o jų konkurentai žlugo? Ką jie darė kitaip? Kaip tai pritaikyti mūsų Lietuvos projektams net jei ir ne tokiems dideliems.
          linkedin: https://www.linkedin.com/in/mangirdasskripka


    - name: "Susitikimas 0x15"
      date: 2014-08-07 19:00
      facebook: https://www.facebook.com/events/250307445166676/
      masterTopic: Sustinkame tiesiog padiskutuoti
      place:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
    - name: "Susitikimas 0x14"
      date: 2014-07-03 19:00
      facebook: https://www.facebook.com/events/1422409704704225/
      sponsor:
        - name: Visma
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Sergejus Barinovas
          title: "Bringing developers to the next level"
          linkedin: http://www.linkedin.com/in/sergejus

    - name: "Susitikimas 0x13"
      date: 2014-06-05 19:00
      facebook: https://www.facebook.com/events/533834806727369/
      sponsor:
      speakers:
        - name: Aurelijus Banelis
          title: Denormalizacija ir kiti SQL optimizavimo būdai
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Donatas Mačiūnas
          title: Git - pažabokim istoriją
          linkedin: https://www.linkedin.com/pub/donatas-maciunas/1/b40/91b

    - name: "Susitikimas 0x12"
      date: 2014-05-08 19:00
      facebook: https://www.facebook.com/events/711634682193249/
      speakers:
        - name: Mangirdas Skripka
          title: Patirtis kuriant ImpressPages 4
          linkedin: http://www.linkedin.com/in/mangirdasskripka
        - name: Justas Butkus
          title: Profiliavimo vaidmuo atliekant architektūros pakeitimus
          linkedin: https://www.linkedin.com/in/justasbutkus
        - name: Paulius Rimavičius
          title: Įspūdžiai perėjus nuo Symfony 1 prie Symfony 2
          linkedin: https://www.linkedin.com/in/rimavicius
      sponsor:
        - name: Visma
          url: http://www.visma.lt
          logo: visma-logo.png

    - name: "Susitikimas 0x11"
      date: 2014-04-03 19:00
      facebook: https://www.facebook.com/events/441082772688905/
      speakers:
        - name: Aurelijus Banelis
          title: Funkcinis programavimas su PHP
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Vaidotas Zlotkus
          title: PHP aplikacijos našumo analizė naudojant Xdebug ir KCachegrind
          linkedin: http://www.linkedin.com/in/muanton
        - name: Dr. Vilius Benetis
          title: Lietuvos formalios ir neformalios kibernetinės saugos iniciatyvos
          linkedin: http://lt.linkedin.com/in/vibenas
      sponsor:
        - name: Strategic Staff Solutions
          url: http://www.strategicstaff.com
          logo: s3-logo.jpg
    - name: "Susitikimas 0x10"
      date: 2014-03-06 19:00
      facebook: https://www.facebook.com/events/592214757538978
      speakers:
        - name: Gediminas Morkevičius
          title: Testing by example: TDD, phpspec ir phpunit praktikoje.
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Marijus Kilmanas
          title: Behat: get it right.
          linkedin: http://www.linkedin.com/in/marijuskilmanas
      sponsor:
        - name: Nfq
          url: http://www.nfq.lt
          logo: nfq-logo.png
    - name: "Susitikimas 0x0F"
      date: 2014-02-06 19:00
      facebook: https://www.facebook.com/events/214485175404335
      speakers:
        - name: Simonas Šerlinskas
          title: Logas
          linkedin: http://lt.linkedin.com/in/simonasserlinskas
        - name: Darius Leskauskas
          title: Symfony2 Bundle rašymas atviram naudojimui
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
        - name: Vidmantas Kabošis
          title: Cucumber: intro į integracinį testavimą salotoms
          linkedin: http://lt.linkedin.com/in/vidmantask
    - name: "Susitikimas 0x0E"
      date: 2014-01-02 18:30
      facebook: https://www.facebook.com/events/323274921146957/
      masterTopic: Pasidalinsime įspūdžiais iš SymfonyCon 2013 Warsaw!
    - name: "Susitikimas 0x0D"
      date: 2013-12-05 18:30
      facebook: https://www.facebook.com/events/686126918064555/
      sponsor:
        - name: Visma
          url: http://www.visma.com
          logo: visma-logo.png
      speakers:
        - name: Paulius Podolskis
          title: "PHP infrastructure: How we code, test & deploy"
          linkedin: http://lt.linkedin.com/in/podolskis
        - name: Žilvinas Kuusas
          title: "Modernus PHP testavimas: unit, integration, functional ir acceptance testai"
          linkedin: http://lt.linkedin.com/in/kuusas
    - name: "Susitikimas 0x0C"
      date: 2013-11-07 18:30
      facebook: https://www.facebook.com/events/731589190189495/
      speakers:
        - name: Marijus Kilmanas
          title: "Deliberate practice: Dojos, Katas & Sensei"
          linkedin: http://www.linkedin.com/in/marijuskilmanas
        - name: Greg Young
          title: "Eventstore database and real time data in Web applications"
      sponsor:
        - name: Wix.com
          url: http://www.wix.com
          logo: wix.com.png
    - name: "Susitikimas 0x0B"
      date: 2013-10-03 18:30
      facebook: https://www.facebook.com/events/563288443706633/
      speakers:
        - name: Ran Mizrahi
          title: "Intro to PHP Unit Testing (in English)"
          linkedin: http://www.linkedin.com/in/ranmizrahi
        - name: Darius Leskauskas
          title: "HTML5 mobile apps. Tips & tricks."
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
        - name: Tautvilas Mečinskas
          title: "Laravel4 vs. Symfony2"
          linkedin: http://www.linkedin.com/in/tautvilas
      sponsor:
        - name: Mokėjimai.lt
          url: http://www.mokejimai.lt
          logo: mokejimai-logo.png
          description: "<b>Mokėjimai.lt</b> artimiausiu metu pristatys mobiliąją programėlę <b>Paysera Android ir iOS</b> platformoms. Vilnius PHP bendruomenės nariai turės unikalią progą išbandyti aplikaciją pirmieji. Kiekvienas bandytojas į programėlę gaus po <b>20 LTL</b>, kuriuos galės išleisti After party metu. <br />Norintys testuoti aplikaciją iOS platformoje, <b>ketvirtadienį iki 15:00 val</b>. turėtų atsiųsti savo įrenginio UDID el. paštu <a href=\"mailto:app@mokejimai.lt\">app@mokejimai.lt</a>. Android įrenginių savininkams jokių išankstinių veiksmų imtis nereikia. Detalesnės instrukcijos bus pateiktos susitikimo pabaigoje."
    - name: "Susitikimas 0x0A"
      date: 2013-09-05 18:30
      facebook: https://www.facebook.com/events/501161299961907/
      speakers:
        - name: Simonas Šerlinskas
          title: Elasticsearch
          linkedin: http://lt.linkedin.com/in/simonasserlinskas
        - name: Gediminas Morkevičius
          title: Being dangerous with git.
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Vidmantas Kabošis
          title: Capistrano: Still uploading files to FTP?
          linkedin: http://lt.linkedin.com/in/vidmantask
    - name: "Susitikimas 0x09"
      date: 2013-08-01 18:30
      facebook: https://www.facebook.com/events/1396735697206023/
      speakers:
        - name: Gediminas Morkevičius
          title: Atviro kodo projektas, jo sėkmė ir nauda tau
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Juozas Kaziukėnas
          title: Growing web spiders
          linkedin: http://www.linkedin.com/in/juozas/lt
    - name: "Susitikimas 0x08"
      date: 2013-07-04 18:30
      facebook: https://www.facebook.com/events/171082116401049/
      sponsor:
        - name: Startup.lt
          url: http://www.startup.lt
          logo: startuplt.png
        - name: Practica Capital
          url: http://www.practica.lt
          logo: practica.png
      speakers:
        - name: Gediminas Mikelėnas
          title: Chrome developer tools in depth
          linkedin: http://lt.linkedin.com/pub/gediminas-mikelėnas/43/8b3/70b
        - name: Mangirdas Skripka
          title: Missing peace in code decoupling
          linkedin: http://www.linkedin.com/in/mangirdasskripka
        - name: Tomas Beniušis
          title: Diskusijos apie programuotojo darbą, požiūrį ir galimybes
          linkedin: http://lt.linkedin.com/in/beniusis

    - name: "Susitikimas 0x07"
      date: 2013-06-06 18:30
      facebook: https://www.facebook.com/events/575000559187401/
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Martynas Kraujalis
          title: "SQL injekcijos: kaip teisingai apsisaugoti?"
        - name: Simonas Jončys
          title: "Responsive Web Design & Progressive Enhancement Dev'ams"
          linkedin: http://lt.linkedin.com/in/joncys
        - name: Sergej Kurakin
          title: "Redis - Mažas, greitas, galingas!"
          linkedin: http://www.linkedin.com/in/sergejkurakin

    - name: "#6 susitikimas"
      date: 2013-05-02 18:30
      facebook: https://www.facebook.com/events/446989482048937/
      sponsor:
        - name: Pigu.lt
          url: http://www.pigu.lt
          logo: pigu-logo.gif
      speakers:
        - name: Artūras Šmorgun
          title: "Vagrant"
          linkedin: http://uk.linkedin.com/in/arturassmorgun/
        - name: Dominykas Blyžė
          title: "Node.js su**s"
          linkedin: http://lt.linkedin.com/in/dominykas
        - name: Sergejus Barinovas
          title: "Continuous Happiness by Continuous Delivery"
          linkedin: http://www.linkedin.com/in/sergejus

    - name: "#5 susitikimas"
      date: 2013-04-04 18:30
      facebook: https://www.facebook.com/events/441224622624996/
      sponsor:
        - name: Eskimi
          url: http://www.eskimi.com
          logo: eskimi-logo.png
      speakers:
        - name: Mantas Šidlauskas
          title: "statsd ir Graphite panaudojimas Eskimi realaus laiko monitoringui"
          linkedin: http://lt.linkedin.com/in/mantassidlauskas/
        - name: Arūnas Smaliukas
          title: "MongoDB ir jos ypatumai"
          linkedin: http://lt.linkedin.com/pub/arūnas-smaliukas/11/2b5/b97/
        - name: Sergej Kurakin
          title: "NGINX + PHP-FPM"
          linkedin: http://www.linkedin.com/in/sergejkurakin

    - name: "#4 susitikimas"
      date: 2013-03-07 18:30
      facebook: https://www.facebook.com/events/104132936428507/
      sponsor:
        - name: Visma
          url: http://www.visma.com
          logo: visma-logo.png
      speakers:
        - name: Paulius Leščinskas
          title: "Varnish Cache"
          linkedin: http://lt.linkedin.com/in/pluton
        - name: Mantas Urbonas
          title: "Programinio kodo licencijos"
          linkedin: http://lt.linkedin.com/in/mantasurbonas

    - name: "#3 susitikimas"
      date: 2013-02-07 18:30
      facebook: https://www.facebook.com/events/317893281654570/
      sponsor:
        - name: Net Frequency
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Povilas Balzaravičius
          title: "Dependency injection containers"
          linkedin: http://lt.linkedin.com/in/pawka
        - name: Liudas Markevičius
          title: "Web projektų gamybos etapų eiliškumas"
          linkedin: http://lt.linkedin.com/in/liumis
        - name: Sergej Kurakin
          title: "Projekto istorija augant iki 1.5 M vartotojų per dieną"
          linkedin: http://www.linkedin.com/in/sergejkurakin

    - name: "#2 susitikimas"
      date: 2013-01-03 18:30
      sponsor:
        - name: Mailer.lt
          url: http://www.mailer.lt
          logo: mailer-logo.jpg
      speakers:
        - name: Aurimas Baubkus
          title: "Caching strategies"
          linkedin: http://lt.linkedin.com/in/aurimasbaubkus
        - name: Georgij Lesnikov
          title: "\"Programavimas\" su CSS (LESS stilių kalbos pavyzdžiu)"
          linkedin: http://lt.linkedin.com/in/georgij
        - name: Vaidas Žilionis
          title: "Sphinx (Open Source Search Server)"
          linkedin: http://lt.linkedin.com/in/vaidaszilionis

    - name: "#1 susitikimas"
      date: 2012-12-06 18:30
      sponsor:
        - name: Estina
          url: http://www.estina.com
          logo: estina-logo.png
      speakers:
        - name: Aurimas Baubkus
          title: "Susirinkom. Kas toliau?"
          linkedin: http://lt.linkedin.com/in/aurimasbaubkus
        - name: Povilas Korop
          title: "Ar verta naudoti framework'us?"
          linkedin: http://www.linkedin.com/pub/povilas-korop/54/5aa/473
        - name: Povilas Balzaravičius
          title: "Seni projektai, nauji įrankiai"
          linkedin: http://www.linkedin.com/in/pawka
        - name: Vaidas Zlotkus
          title: "Dažniausiai sutinkamos esminės MySQL našumo problemos ir jų sprendimo būdai"
          linkedin: http://www.linkedin.com/in/muanton
---
