layout: archive.twig

pageName: archive

events:
    - name: "Susitikimas 0x24"
      date: 2015-11-05 19:00
      facebook: https://www.facebook.com/events/872060149544132/
      ligtingTalks: true
      masterTopic:
      sponsor:
        - name: Build Stuff
          url: http://www.buildstuff.lt
          logo: buildstuff.png
      speakers:
        - name: Žilvinas Kuusas
          title: Baby Steps to Domain-Driven Design
          linkedin: http://lt.linkedin.com/in/kuusas
        - name: Mantas Klasavicius
          title: Measure Everything, Not Anything
    - name: "CodeWeek edition"
      date: 2015-10-15 19:00
      facebook: https://www.facebook.com/events/1675344716034508/
      masterTopic: Šiais metais vėl prisidėdami prie Europos programavimo savaitės iniciatyvos (CodeWeek.eu) rengiame meetupą orientuotą į pradedančiuosius PHP programuotuojus ar norinčius jais tapti.
      sponsor:
        - name: Build Stuff
          url: http://www.buildstuff.lt
          logo: buildstuff.png
      speakers:
        - name: Aurelijus Banelis
          title: Išlipus iš vieno PHP failo
          description: Kai jau pavyko parašyti pirmą programą su PHP, kur eiti toliau, kaip tapti PHP profesionalu? Dalinamasi praktine patirtimi, kas pasiteisino, nuo ko ir kodėl pradėti gilintis PHP pasaulyje.
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Gediminas Morkevičius
          title: From zero to hero
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Justas Butkus
          title: Įrankių svarba, arba Aho, Weinberger ir Kernighan palikimas
          linkedin: https://www.linkedin.com/in/justasbutkus
        - name: Marijus Kilmanas 
          title: Xdebug: What is it good for?
          linkedin: http://www.linkedin.com/in/marijuskilmanas
    - name: "Susitikimas 0x22"
      date: 2015-09-03 19:00
      facebook: https://www.facebook.com/events/1622724757984131/
      ligtingTalks: true
      sponsor:
        - name: Build Stuff
          url: http://www.buildstuff.lt
          logo: buildstuff.png
      speakers:
        - name: Marius Bieliauskas
          title: Elastic Stack (ELK)
          linkedin: https://www.linkedin.com/profile/view?id=124975516
        - name: Darius Leskauskas
          title: Code review: techniques & best practices
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
    - name: "Susitikimas 0x21"
      date: 2015-08-06 19:00
      facebook: https://www.facebook.com/events/437523836427610/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Mantas Zimnickas
          title: Ansible
          linkedin: https://www.linkedin.com/in/sirex
        - name: Aurelijus Banelis
          title: Svetainių pritaikymas akliesiems
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
    - name: "Susitikimas 0x20"
      date: 2015-07-02 19:00
      facebook: https://www.facebook.com/events/101505413524346/
      ligtingTalks: true
      sponsor:
        - name: TransferGo
          url: https://www.transfergo.com
          logo: transfergo.png 
      speakers:
        - name: Povilas Balzaravičius
          title: Reducing load with RabbitMQ
          linkedin: http://lt.linkedin.com/in/pawka
        - name: Gediminas Šedbaras
          title: Introduction to CQRS and Event Sourcing
          linkedin: https://nl.linkedin.com/in/gsedbaras
    - name: "Susitikimas 0x1F"
      date: 2015-06-04 19:00
      facebook: https://www.facebook.com/events/749158505182750/
      ligtingTalks: true
      sponsor:
        - name: NFQ
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Sergej Kurakin
          title: Continuous Delivery - Almost Continuous Almost Delivery
          linkedin: http://www.linkedin.com/in/sergejkurakin
        - name: Tautrimas Pajarskas
          title: CasperJS: How to start testing legacy projects
          linkedin: https://lt.linkedin.com/in/tautrimas
    - name: "Susitikimas 0x1E"
      date: 2015-05-07 19:00
      facebook: https://www.facebook.com/events/284775384980026/
      ligtingTalks: true
      sponsor:
        - name: Cardinity
          url: https://www.cardinity.lt
          logo: cardinity.png
          title: Lengvas būdas priimti atsiskaitymus kredito ir debeto kortelėmis internetu.
      place:
          name: '"Alaus studija"'
          address: S.Žukausko g. 20, Vilnius
          mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Vaidas Jusevičius
          title: Mitigating the risk of fraudulent credit card payments
        - name: Juozas Kaziukėnas
          title: PyHP
          linkedin: http://www.linkedin.com/in/juozas/lt
    - name: "Susitikimas 0x1D"
      date: 2015-04-02 19:00
      facebook: https://www.facebook.com/events/614903015277558/
      sponsor:
        - name: Uber
          url: http://www.uber.com
          logo: uber.png
      speakers:
        - name: Mangirdas Skripka
          title: SAAS produktų kūrimas be papildomų pastangų 
          linkedin: https://www.linkedin.com/in/mangirdasskripka
        - name: Mindaugas Mozūras
          title: AB Testing Evolution at Vinted
          linkedin: http://lt.linkedin.com/in/mindaugasmozuras/en
        - name: Simonas Šerlinskas
          title: Kaip sukurti projektą su ONGR?
          linkedin: http://lt.linkedin.com/in/simonasserlinskas
    - name: "Susitikimas 0x1C"
      date: 2015-03-05 19:00
      facebook: https://www.facebook.com/events/1032816803399814/
      speakers:
        - name: Darius Leskauskas
          title: Projekto daugiakalbiškumas (translations)
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
        - name: Artūras Šmorgun
          title: PHP Profiling
          linkedin: http://uk.linkedin.com/in/arturassmorgun/
    - name: "Susitikimas 0x1B"
      date: 2015-02-05 19:00
      facebook: https://www.facebook.com/events/340585669464931/
      sponsor:
        - name: Visma
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Mangirdas Skripka
          title: Deployment on shared hosting
          linkedin: https://www.linkedin.com/in/mangirdasskripka
        - name: Žilvinas Kuusas
          title: Using Capifony for Symfony apps deployment
          linkedin: http://lt.linkedin.com/in/kuusas
#        - name: 
#          title: 
#          linkedin: 
    - name: "Susitikimas 0x1A"
      date: 2015-01-08 19:00
      facebook: https://www.facebook.com/events/305187243015555/
#      sponsor:
#        - name: 
#          url: 
#          logo: 
      speakers:
        - name: Aurelijus Banelis
          title: OrientDB in practice
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Sergej Kurakin
          title: SphinxSearch Real-Time Index
          linkedin: http://www.linkedin.com/in/sergejkurakin
#        - name: 
#          title: 
#          linkedin: 
    - name: "Susitikimas 0x19"
      date: 2014-12-04 19:00
      facebook: https://www.facebook.com/events/796250430431230/
      speakers:
        - name: Žilvinas Kuusas
          title: Mikroservisų architektūra
          linkedin: http://lt.linkedin.com/in/kuusas
        - name: Sergej Kurakin
          title: PHP QA Tools
          linkedin: http://www.linkedin.com/in/sergejkurakin
        - name: Gediminas Morkevičius
          title: Kick-ass dev environment - tools I recommend for development process
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
    - name: "Susitikimas 0x18"
      sponsor:
        - name: Paysera
          url: http://www.paysera.lt
          logo: paysera.png
      date: 2014-11-06 19:00
      facebook: https://www.facebook.com/events/1562030720698394
      speakers:
        - name: Sergej Kurakin
          title: Gearman - Hidden gears of your application
          linkedin: http://www.linkedin.com/in/sergejkurakin
        - name: Darius Kasperavičius
          title: Introduction to Design Patterns
          linkedin: https://www.linkedin.com/in/dardar
        - name: Emanuelis Norbutas
          title: Ko (dažniausiai) nežino (pradedantieji) web programuotojai?          
          linkedin: http://lt.linkedin.com/in/emanuelis


    - name: "CodeWeek.eu edition"
      date: 2014-10-15 19:00
      facebook: https://www.facebook.com/events/1474215222832145
      speakers:
        - name: Donatas Mačiūnas
          title: Git pradmenys
          linkedin: https://www.linkedin.com/pub/donatas-maciunas/1/b40/91b
        - name: Mindaugas Pelionis
          title: Composer - Dependency Manager for PHP
          linkedin: http://lt.linkedin.com/pub/mindaugas-pelionis/3/359/315
        - name: Marius Grigaitis
          title: Saugumas. Pagrindiniai principai ir dažniausiai paliekamos spragos
          linkedin: http://lt.linkedin.com/pub/marius-grigaitis/29/173/a3

    - name: "Susitikimas 0x16"
      date: 2014-09-04 19:00
      facebook: https://www.facebook.com/events/1675131712712873
      speakers:
        - name: Vytenis Darulis
          title: Silex mikrokarkasas ir legacy kodas
          linkedin: https://www.linkedin.com/in/vytenisdarulis
        - name: Audrius Jankauskas
          title: Ką šiandien reiškia būti Front-end developeriu? Ką turi žinoti ir mokėti. Iššūkiai, kurie tavęs laukia.
          linkedin: https://www.linkedin.com/in/audriusjankauskas
        - name: Mangirdas Skripka
          title: Kaip išsukti pasaulinį IT projektą Kodėl WordPress, Twitter, Medium išvažiavo, o jų konkurentai žlugo? Ką jie darė kitaip? Kaip tai pritaikyti mūsų Lietuvos projektams net jei ir ne tokiems dideliems.
          linkedin: https://www.linkedin.com/in/mangirdasskripka


    - name: "Susitikimas 0x15"
      date: 2014-08-07 19:00
      facebook: https://www.facebook.com/events/250307445166676/
      masterTopic: Sustinkame tiesiog padiskutuoti
      place:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
    - name: "Susitikimas 0x14"
      date: 2014-07-03 19:00
      facebook: https://www.facebook.com/events/1422409704704225/
      sponsor:
        - name: Visma
          url: http://www.visma.lt
          logo: visma-logo.png
      speakers:
        - name: Sergejus Barinovas 
          title: "Bringing developers to the next level"
          linkedin: http://www.linkedin.com/in/sergejus

    - name: "Susitikimas 0x13"
      date: 2014-06-05 19:00
      facebook: https://www.facebook.com/events/533834806727369/
      sponsor:
      speakers:
        - name: Aurelijus Banelis
          title: Denormalizacija ir kiti SQL optimizavimo būdai
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Donatas Mačiūnas
          title: Git - pažabokim istoriją
          linkedin: https://www.linkedin.com/pub/donatas-maciunas/1/b40/91b

    - name: "Susitikimas 0x12"
      date: 2014-05-08 19:00
      facebook: https://www.facebook.com/events/711634682193249/
      speakers:
        - name: Mangirdas Skripka
          title: Patirtis kuriant ImpressPages 4
          linkedin: http://www.linkedin.com/in/mangirdasskripka
        - name: Justas Butkus
          title: Profiliavimo vaidmuo atliekant architektūros pakeitimus
          linkedin: https://www.linkedin.com/in/justasbutkus
        - name: Paulius Rimavičius
          title: Įspūdžiai perėjus nuo Symfony 1 prie Symfony 2
          linkedin: https://www.linkedin.com/in/rimavicius
      sponsor:
        - name: Visma
          url: http://www.visma.lt
          logo: visma-logo.png

    - name: "Susitikimas 0x11"
      date: 2014-04-03 19:00
      facebook: https://www.facebook.com/events/441082772688905/
      speakers:
        - name: Aurelijus Banelis
          title: Funkcinis programavimas su PHP
          linkedin: http://www.linkedin.com/in/aurelijusbanelis
        - name: Vaidotas Zlotkus
          title: PHP aplikacijos našumo analizė naudojant Xdebug ir KCachegrind
          linkedin: http://www.linkedin.com/in/muanton
        - name: Dr. Vilius Benetis
          title: Lietuvos formalios ir neformalios kibernetinės saugos iniciatyvos
          linkedin: http://lt.linkedin.com/in/vibenas
      sponsor:
        - name: Strategic Staff Solutions
          url: http://www.strategicstaff.com
          logo: s3-logo.jpg
    - name: "Susitikimas 0x10"
      date: 2014-03-06 19:00
      facebook: https://www.facebook.com/events/592214757538978
      speakers:
        - name: Gediminas Morkevičius
          title: Testing by example: TDD, phpspec ir phpunit praktikoje.
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Marijus Kilmanas
          title: Behat: get it right.
          linkedin: http://www.linkedin.com/in/marijuskilmanas
      sponsor:
        - name: Nfq
          url: http://www.nfq.lt
          logo: nfq-logo.png
    - name: "Susitikimas 0x0F"
      date: 2014-02-06 19:00
      facebook: https://www.facebook.com/events/214485175404335
      speakers:
        - name: Simonas Šerlinskas
          title: Logas
          linkedin: http://lt.linkedin.com/in/simonasserlinskas
        - name: Darius Leskauskas
          title: Symfony2 Bundle rašymas atviram naudojimui
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
        - name: Vidmantas Kabošis
          title: Cucumber: intro į integracinį testavimą salotoms
          linkedin: http://lt.linkedin.com/in/vidmantask
    - name: "Susitikimas 0x0E"
      date: 2014-01-02 18:30
      facebook: https://www.facebook.com/events/323274921146957/
      masterTopic: Pasidalinsime įspūdžiais iš SymfonyCon 2013 Warsaw!
    - name: "Susitikimas 0x0D"
      date: 2013-12-05 18:30
      facebook: https://www.facebook.com/events/686126918064555/
      sponsor:
        - name: Visma
          url: http://www.visma.com
          logo: visma-logo.png
      speakers:
        - name: Paulius Podolskis
          title: "PHP infrastructure: How we code, test & deploy"
          linkedin: http://lt.linkedin.com/in/podolskis
        - name: Žilvinas Kuusas
          title: "Modernus PHP testavimas: unit, integration, functional ir acceptance testai"
          linkedin: http://lt.linkedin.com/in/kuusas
    - name: "Susitikimas 0x0C"
      date: 2013-11-07 18:30
      facebook: https://www.facebook.com/events/731589190189495/
      speakers:
        - name: Marijus Kilmanas
          title: "Deliberate practice: Dojos, Katas & Sensei"
          linkedin: http://www.linkedin.com/in/marijuskilmanas
        - name: Greg Young
          title: "Eventstore database and real time data in Web applications"
      sponsor:
        - name: Wix.com
          url: http://www.wix.com
          logo: wix.com.png
    - name: "Susitikimas 0x0B"
      date: 2013-10-03 18:30
      facebook: https://www.facebook.com/events/563288443706633/
      speakers:
        - name: Ran Mizrahi
          title: "Intro to PHP Unit Testing (in English)"
          linkedin: http://www.linkedin.com/in/ranmizrahi
        - name: Darius Leskauskas
          title: "HTML5 mobile apps. Tips & tricks."
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
        - name: Tautvilas Mečinskas
          title: "Laravel4 vs. Symfony2"
          linkedin: http://www.linkedin.com/in/tautvilas
      sponsor:
        - name: Mokėjimai.lt
          url: http://www.mokejimai.lt
          logo: mokejimai-logo.png
          description: "<b>Mokėjimai.lt</b> artimiausiu metu pristatys mobiliąją programėlę <b>Paysera Android ir iOS</b> platformoms. Vilnius PHP bendruomenės nariai turės unikalią progą išbandyti aplikaciją pirmieji. Kiekvienas bandytojas į programėlę gaus po <b>20 LTL</b>, kuriuos galės išleisti After party metu. <br />Norintys testuoti aplikaciją iOS platformoje, <b>ketvirtadienį iki 15:00 val</b>. turėtų atsiųsti savo įrenginio UDID el. paštu <a href=\"mailto:app@mokejimai.lt\">app@mokejimai.lt</a>. Android įrenginių savininkams jokių išankstinių veiksmų imtis nereikia. Detalesnės instrukcijos bus pateiktos susitikimo pabaigoje."
    - name: "Susitikimas 0x0A"
      date: 2013-09-05 18:30
      facebook: https://www.facebook.com/events/501161299961907/
      speakers:
        - name: Simonas Šerlinskas
          title: Elasticsearch
          linkedin: http://lt.linkedin.com/in/simonasserlinskas
        - name: Gediminas Morkevičius
          title: Being dangerous with git.
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Vidmantas Kabošis
          title: Capistrano: Still uploading files to FTP?
          linkedin: http://lt.linkedin.com/in/vidmantask
    - name: "Susitikimas 0x09"
      date: 2013-08-01 18:30
      facebook: https://www.facebook.com/events/1396735697206023/
      speakers:
        - name: Gediminas Morkevičius
          title: Atviro kodo projektas, jo sėkmė ir nauda tau
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Juozas Kaziukėnas
          title: Growing web spiders
          linkedin: http://www.linkedin.com/in/juozas/lt
    - name: "Susitikimas 0x08"
      date: 2013-07-04 18:30
      facebook: https://www.facebook.com/events/171082116401049/
      sponsor:
        - name: Startup.lt
          url: http://www.startup.lt
          logo: startuplt.png
        - name: Practica Capital
          url: http://www.practica.lt
          logo: practica.png
      speakers:
        - name: Gediminas Mikelėnas
          title: Chrome developer tools in depth
          linkedin: http://lt.linkedin.com/pub/gediminas-mikelėnas/43/8b3/70b
        - name: Mangirdas Skripka
          title: Missing peace in code decoupling
          linkedin: http://www.linkedin.com/in/mangirdasskripka
        - name: Tomas Beniušis
          title: Diskusijos apie programuotojo darbą, požiūrį ir galimybes
          linkedin: http://lt.linkedin.com/in/beniusis

    - name: "Susitikimas 0x07"
      date: 2013-06-06 18:30
      facebook: https://www.facebook.com/events/575000559187401/
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Martynas Kraujalis
          title: "SQL injekcijos: kaip teisingai apsisaugoti?"
        - name: Simonas Jončys
          title: "Responsive Web Design & Progressive Enhancement Dev'ams"
          linkedin: http://lt.linkedin.com/in/joncys
        - name: Sergej Kurakin
          title: "Redis - Mažas, greitas, galingas!"
          linkedin: http://www.linkedin.com/in/sergejkurakin

    - name: "#6 susitikimas"
      date: 2013-05-02 18:30
      facebook: https://www.facebook.com/events/446989482048937/
      sponsor:
        - name: Pigu.lt
          url: http://www.pigu.lt
          logo: pigu-logo.gif
      speakers:
        - name: Artūras Šmorgun
          title: "Vagrant"
          linkedin: http://uk.linkedin.com/in/arturassmorgun/
        - name: Dominykas Blyžė
          title: "Node.js su**s"
          linkedin: http://lt.linkedin.com/in/dominykas
        - name: Sergejus Barinovas
          title: "Continuous Happiness by Continuous Delivery"
          linkedin: http://www.linkedin.com/in/sergejus

    - name: "#5 susitikimas"
      date: 2013-04-04 18:30
      facebook: https://www.facebook.com/events/441224622624996/
      sponsor:
        - name: Eskimi
          url: http://www.eskimi.com
          logo: eskimi-logo.png
      speakers:
        - name: Mantas Šidlauskas
          title: "statsd ir Graphite panaudojimas Eskimi realaus laiko monitoringui"
          linkedin: http://lt.linkedin.com/in/mantassidlauskas/
        - name: Arūnas Smaliukas
          title: "MongoDB ir jos ypatumai"
          linkedin: http://lt.linkedin.com/pub/arūnas-smaliukas/11/2b5/b97/
        - name: Sergej Kurakin
          title: "NGINX + PHP-FPM"
          linkedin: http://www.linkedin.com/in/sergejkurakin

    - name: "#4 susitikimas"
      date: 2013-03-07 18:30
      facebook: https://www.facebook.com/events/104132936428507/
      sponsor:
        - name: Visma
          url: http://www.visma.com
          logo: visma-logo.png
      speakers:
        - name: Paulius Leščinskas
          title: "Varnish Cache"
          linkedin: http://lt.linkedin.com/in/pluton
        - name: Mantas Urbonas
          title: "Programinio kodo licencijos"
          linkedin: http://lt.linkedin.com/in/mantasurbonas

    - name: "#3 susitikimas"
      date: 2013-02-07 18:30
      facebook: https://www.facebook.com/events/317893281654570/
      sponsor:
        - name: Net Frequency
          url: http://www.nfq.lt
          logo: nfq-logo.png
      speakers:
        - name: Povilas Balzaravičius
          title: "Dependency injection containers"
          linkedin: http://lt.linkedin.com/in/pawka
        - name: Liudas Markevičius
          title: "Web projektų gamybos etapų eiliškumas"
          linkedin: http://lt.linkedin.com/in/liumis
        - name: Sergej Kurakin
          title: "Projekto istorija augant iki 1.5 M vartotojų per dieną"
          linkedin: http://www.linkedin.com/in/sergejkurakin

    - name: "#2 susitikimas"
      date: 2013-01-03 18:30
      sponsor:
        - name: Mailer.lt
          url: http://www.mailer.lt
          logo: mailer-logo.jpg
      speakers:
        - name: Aurimas Baubkus
          title: "Caching strategies"
          linkedin: http://lt.linkedin.com/in/aurimasbaubkus
        - name: Georgij Lesnikov
          title: "\"Programavimas\" su CSS (LESS stilių kalbos pavyzdžiu)"
          linkedin: http://lt.linkedin.com/in/georgij
        - name: Vaidas Žilionis
          title: "Sphinx (Open Source Search Server)"
          linkedin: http://lt.linkedin.com/in/vaidaszilionis

    - name: "#1 susitikimas"
      date: 2012-12-06 18:30
      sponsor:
        - name: Estina
          url: http://www.estina.com
          logo: estina-logo-black.png
      speakers:
        - name: Aurimas Baubkus
          title: "Susirinkom. Kas toliau?"
          linkedin: http://lt.linkedin.com/in/aurimasbaubkus
        - name: Povilas Korop
          title: "Ar verta naudoti framework'us?"
          linkedin: http://www.linkedin.com/pub/povilas-korop/54/5aa/473
        - name: Povilas Balzaravičius
          title: "Seni projektai, nauji įrankiai"
          linkedin: http://www.linkedin.com/in/pawka
        - name: Vaidas Zlotkus
          title: "Dažniausiai sutinkamos esminės MySQL našumo problemos ir jų sprendimo būdai"
          linkedin: http://www.linkedin.com/in/muanton
---
