{% extends "base.twig" %}

{% block title %}Apie bendruomenę{% endblock %}

{% block content %}
    <div class="about">
        <div class="centered">
            <h1>Vilniaus PHP bendruomenė</h1>

            <div class="well">
                Esame programuotojų ir jiems prijaučiančių žmonių grupelė.
                Kai ateina pirmas mėnesio ketvirtadienis, žinome, kad atėjo laikas susitikti,
                pasidalinti žiniomis apie idemesnę technologiją, praktiką ar šiaip bare pabendrauti prie alaus.
                Tokiu būdu daug lengviau jausti technologinį pulsą, kartu tobulėti
                ar bent jau susitikti su bendraminčiais.
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h2>Kaip prisijungti prie VilniusPHP?</h2>
                    <p>
                        Formalių registracijų nėra, užtenka tiesiog dalyvauti susitikimuose.
                        Įėjimas nemokamas, aišku prašoma gerbti pranešėjus ir kitus susirinkusius.
                        Organizatoriams bus lengviau, jei pasižymėsi prie Facebook įvykių, kai planuoji ateiti.
                        Be gyvų susitikimų taip pat yra Facebook VilniusPHP bei Slack grupė.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2>Ar susitikimai tik apie PHP?</h2>
                    <p>
                        Vien pasižiūrėjus į pranešimų temas akivaizdu, kad neapsiribojame vien PHP kalbos dokumentacija.
                        Nors su PHP kalba susijusios temos yra dažniausios, dalinamės ir kitomis PHP programuotojams naudingomis temomis:
                        pvz. sistemų projektavimu, testavimu, sukėlimu į serverius, saugumu, programavimo įrankiais ir t.t.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2>Ar galiu pats padaryti pristatymą?</h2>
                    <p>
                        Žinoma! Pranešimai yra visada laukiami, gi bendruomenės tikslas ir yra dalintis žiniomis.
                        Apie ilgesnius pranešimus (30-50min. + klausimai) reikėtų pranešti VilniusPHP Facebook, slack grupėje arba prie Facebook įvykio.
                        Trumpesniems pranešimams (~10min + klausimai) užtenka tiesiog ateiti į renginį ir pristatyti renginio gale.
                        Nebūtina būti visišku srities profesionalu, jei nedrąsu visada galima pradėti nuo trumpųjų pranešimų.
                        Patys irgi taip pradėjome.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}