<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="utf-8">
    <title>VilniusPHP.lt - Vilniaus PHP bendruomenė</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <meta name="description" content="Vilnius PHP community">
    <meta name="google-site-verification" content="nOU0DLNQpsQVTBbWQ0o14eTkRgXePrQ2dpUSmGOxhvs" />
    <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico">


    <meta property="og:title" content="VilniusPHP.lt - Vilniaus PHP bendruomenė"/>
    <meta property="og:image" content="http://www.vilniusphp.lt/media/img/logo.jpg"/>
    <meta property="og:url" content="http://www.vilniusphp.lt"/>

    {# Mobile support #}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Bootstrap #}
    <link rel="stylesheet" href="styles/bootstrap.min.css" />

    {# Material Design for Bootstrap #}
    <link href="styles/roboto.min.css" rel="stylesheet">
    <link href="styles/material-fullpalette.min.css" rel="stylesheet">
    <link href="styles/ripples.min.css" rel="stylesheet">

    {# This theme specific styles #}
    <link href="styles/vilniusphp.css" rel="stylesheet">

    {# jQuery #}
    <script src="scripts/jquery-1.10.2.min.js"></script>
</head>
<body>

{# Header #}
<div class="navbar navbar-material-blue-grey">
    <div class="centered">
        <div class="navbar-header">
            {# When menu collapsed in small mobile view #}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {# Logo #}
            <img class="logo" alt="VilniusPHP.LT" src="media/img/logo.jpg">
        </div>

        {# Top navigation menu #}
        <div class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Naujausias</a></li>
                <li><a href="#">Archyvas</a></li>
                <li><a href="#">Apie</a></li>
                <li><a href="#">Draugai</a></li>
                <li><a href="#">Kontaktai</a></li>
                <li class="divider"></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
    </div>
</div>

{# Main event #}
<div class="main-event">
    <div class="centered">
        {% include 'layouts/widgets/nextevent.twig' %}
    </div>
</div>

{# Old events and meta #}
<div class="content centered row">
    <h2>Buvę susitikimai</h2>
    <div class="col-sm-6 archive">
        {% include 'layouts/widgets/archive.twig' %}
    </div>
    <div class="col-sm-6">
        <div class="friends col-md-6">
            {% include 'layouts/widgets/important.twig' %}
            {% include 'layouts/widgets/friends.twig' %}
        </div>
        <div class="social-widget col-md-6">
            {% include 'layouts/widgets/social-widgets.twig' %}
            {% include 'layouts/widgets/social-links.twig' %}
        </div>
        <div class="sponsors col-md-12">
            {% include 'layouts/widgets/sponsors.twig' %}
        </div>
    </div>
</div>

{% include 'layouts/widgets/footer.twig' %}

    <!-- Twitter Bootstrap -->
    <script src="scripts/bootstrap.min.js"></script>

    <!-- Material Design for Bootstrap -->
    <script src="scripts/material.min.js"></script>
    <script src="scripts/ripples.min.js"></script>
    <script>
        $.material.init();
    </script>
</body>
</html>
