{% extends "base.twig" %}

{% block title %}About PHP community{% endblock %}

{% block content %}
    <div class="about">
        <div class="centered">
            <h1>Vilniaus PHP community</h1>

            <div class="well">
                Welcome to PHP community in Vilnius, Lithuania.
                Most of communication and presentations are in Lithuanian,
                but it there would be someone not understanding Lithuania,
                presenters could switch to English,
                or at least answer the question in English after presentation and during after party.
                All events are free, and you are welcome to join event you are not PHP developer.
                Follow links to Facebook events for more information and to check, that going,
                so organizers could know the count of attendees.
            </div>
        </div>
    </div>
{% endblock %}