<div class="event">
    <h3>#3 susitikimas</h3>
    <b>2013-02-07 18:30</b>

    <br>
    Vieta tikslinama.

    <h4>Pranešėjai</h4>
    <ol> 
        Turi ką papasakoti? Rašyk mums!
    </ol>
</div>
<hr>