<hr>
<div class="row-fluid marketing">
    <h3>Rėmėjai</h3>
    <br>
    <div>
        <center>
        <p class="span4"><a href="http://www.estina.com" title="Estina - web development services" target="_blank"><img src="media/img/estina-logo-black.png" alt="Estina" /></a></p>
        <p class="span4"><a href="http://www.mailer.lt" title="mailer.lt" target="_blank"><img src="media/img/mailer-logo.jpg" alt="mailer.lt" style="margin-top: 8px;" /></a></p>
        <p class="span4"><a href="http://www.nfq.lt" title="Net Frequency" target="_blank"><img src="media/img/nfq-logo.jpg" alt="Net Frequency" style="margin-top: 8px;" /></a></p>
        <p class="span4"><a href="http://www.visma.com" title="Visma" target="_blank"><img src="media/img/visma-logo.png" alt="Visma" style="margin-top: 8px;" /></a></p>
        <p class="span4"><a href="http://www.eskimi.com" title="Eskimi" target="_blank"><img src="media/img/eskimi-logo.png" alt="Eskimi" /></a></p>
        </center>
    </div>
</div> 
<hr>
  
<div class="footer">
    <p>&copy; {{ "now"|date("Y") }} VilniusPHP.LT</p>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2907053-30']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
