{% extends "base.twig" %}

{% block customMeta %}
    <style type="text/css">
        {% if this.design.mainEventBackGround and this.design.mainEventTextColor %}
            body .main-event {
                color: {{ this.design.mainEventTextColor }};
                background: url('{{ this.design.mainEventBackGround }}') no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            body .main-event .well, body .main-event .jumbotron {
                color: #333333;
            }
        {% endif %}
    </style>
{% endblock %}

{% block content %}

{# Main event #}
<div class="main-event">
    <div class="centered">
        {% include 'layouts/widgets/nextevent.twig' %}
    </div>
</div>

{# Meta #}
<div class="content centered row">
    <div class="col-sm-4">
        <div class="important">
            {% include 'layouts/widgets/important.twig' %}
        </div>
        <div class="friends">
            <div class="panel panel-default">
                <div class="panel-heading">Prisijunk prie #VilniusPHP</div>
                <div class="panel-body">
                    <script async defer src="https://uglt.herokuapp.com/slackin.js"></script>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="friends">
            {% include 'layouts/widgets/friends.twig' %}
        </div>
    </div>
    <div class="sponsors col-sm-4">
        {% include 'layouts/widgets/sponsors.twig' %}
    </div>
</div>

{% endblock %}
