{% extends "base.twig" %}

{% block title %}Vilnius PHP slack{% endblock %}

{% block content %}
    <div class="about">
        <div class="centered">
            <h1>Slack</h1>
            <h3>Join our channel <em>#vilniusphp</em> at Lithuania's user groups Slack</h3>
            <div class="well">
                <div style="width:400px; margin: 0 auto;">
                    <iframe src="https://uglt.herokuapp.com/" style="border-width: 0px; width: 400px; height: 780px; margin: 0 auto; visibility: visible;"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}