<div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li><a href="http://twitter.com/vilniusphp" title="VilniusPHP Twitter" target="_blank"><img src="media/img/twitter.png" alt="VilniusPHP" /></a></li>
      <li><a href="https://www.facebook.com/groups/301802373270632" title="VilniusPHP Facebook" target="_blank"><img src="media/img/facebook.png" alt="VilniusPHP" /></a></li>
      <li><a href="http://github.com/vilniusphp" title="VilniusPHP GitHub" target="_blank"><img src="media/img/github.png" alt="VilniusPHP" /></a></li>
    </ul>
</div>
