<div class="place">
    <div>
        <i class="mdi-maps-place"></i>{{ address.name }}
    </div>
    <div>
        <a href="{{ address.mapurl }}" target="_blank"><i class="mdi-maps-map" title="žemėlapis"></i></a>{{ address.address }}
    </div>
</div>
