<div class="panel panel-default">
    <div class="panel-heading">Draugai</div>
    <div class="panel-body">
        <ul>
            <li><a class="btn btn-xs btn-default btn-flat" href="http://www.usergroups.lt/">Usergroups.lt</a></li>
            <li><a class="btn btn-xs btn-default btn-flat" href="http://www.kaunasphp.lt">Kaunas PHP</a></li>
            <li><a class="btn btn-xs btn-default btn-flat" href="http://www.vilniusjs.lt">Vilnius JS</a></li>
            <li><a class="btn btn-xs btn-default btn-flat" href="http://vilniusrb.lt">Vilnius Ruby</a></li>
            <li><a class="btn btn-xs btn-default btn-flat" href="http://www.gdg-vilnius.lt">GDG Vilnius</a></li>
            <li><a class="btn btn-xs btn-default btn-flat" href="http://www.vilnius-jug.lt/">Vilnius JUG</a></li>
            <li><a class="btn btn-xs btn-default btn-flat" href="http://dotnetcrowd.lt">.NET Crowd</a></li>
        </ul>
    </div>
</div>


