<div class="panel panel-default">
    <div class="panel-heading">Bendruomenę globoja</div>
    <div class="panel-body">
        <ul class="unstyled logos">
            <li><a href="http://www.baltic-amadeus.lt"><img src="media/img/ba.png" alt="Baltic Amadeus"></a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">2% Parama</div>
    <div class="panel-body">
        Norėdami paremti Vilnius PHP bendruomenę paskirdami 2% nuo sumokėto GPM, skaitykite <a href="http://usergroups.lt/parama.html">čia</a>.
    </div>
</div>