<div class="panel panel-default">
    <div class="panel-heading">1.2% Parama</div>
    <div class="panel-body">
        Norėdami paremti Vilnius PHP bendruomenę paskirdami 1.2% nuo sumokėto GPM, skaitykite <a href="https://usergroups.lt/parama.html">čia</a>.
    </div>
</div>
