<div class="navbar navbar-{{ this.design.materialClass }}">
    <div class="centered">
        <div class="navbar-header">
            {# When menu collapsed in small mobile view #}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {# Logo #}
            <a href="/"><img class="logo" alt="VilniusPHP.LT" src="{{ this.design.logo }}"></a>
        </div>

        {# Top navigation menu #}
        <div class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
            <ul class="nav navbar-nav">
                {% for page, name in pages %}
                    <li {% if this.pageName == page %} class="active" {% endif %}><a href="{{ page }}.html">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
