<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="sponsors">Rėmėjai</h3>
    </div>
    <div class="panel-body">
        <a class="btn" href="http://www.estina.com" title="Estina - web development services" target="_blank"><img src="media/img/estina-logo-black.png" alt="Estina" /></a>
        <a class="btn" href="http://www.nfq.lt" title="NFQ" target="_blank"><img src="media/img/nfq-logo.png" alt="NFQ" /></a>
        <a class="btn" href="http://www.visma.com" title="Visma" target="_blank"><img src="media/img/visma-logo.png" alt="Visma" /></a>
        <a class="btn" href="http://www.adform.lt/" title="Build Stuff" target="_blank"><img src="media/img/adform.png" alt="Build Stuff" /></a>
        <a class="btn" href="http://www.mailer.lt" title="mailer.lt" target="_blank"><img src="media/img/mailer-logo.jpg" alt="mailer.lt" /></a>
        <a class="btn" href="http://www.paysera.lt" title="paysera" target="_blank"><img src="media/img/paysera.png" alt="paysera.lt" /></a>
        <a class="btn" href="http://www.buildstuff.lt/" title="Build Stuff" target="_blank"><img src="media/img/buildstuff.png" alt="Build Stuff" /></a>
        <a class="btn" href="http://www.strategicstaff.com" title="Strategic Staff Solitions" target="_blank"><img src="media/img/s3-logo.jpg" alt="mailer.lt" /></a>
        <a class="btn" href="http://www.pigu.lt" title="Pigu.lt" target="_blank"><img src="media/img/pigu-logo.gif" alt="Pigu.lt" /></a>
        <a class="btn" href="http://www.startup.lt" title="Startup.lt" target="_blank"><img src="media/img/startuplt.png" alt="Startup.lt" /></a>
        <a class="btn" href="http://www.practica.lt" title="Practica.lt" target="_blank"><img src="media/img/practica.png" alt="Practica.lt" /></a>
        <a class="btn" href="http://www.wix.com" title="Wix.com" target="_blank"><img src="media/img/wix.com.png" alt="Wix.com" /></a>
        <a class="btn" href="https://www.cardinity.lt" title="Cardinity" target="_blank"><img src="media/img/cardinity.png" alt="Cardinity" /></a>
        <a class="btn" href="http://www.manning.com/"><img src="media/img/manning.jpg" alt="Manning" /></a>
        <a class="btn" href="http://www.eskimi.com" title="Eskimi" target="_blank"><img src="media/img/eskimi-logo.png" alt="Eskimi" /></a>
        <a class="btn" href="http://www.jetbrains.com/phpstorm/"><img src="media/img/ug_jetbrains.png" alt="JetBrains PhpStorm" /></a>
        <a class="btn" href="http://oreilly.com/ug/"><img src="media/img/ug_ad_250_viguy.gif" alt="O'Reilly UG Program" /></a>
        <a class="btn" href="http://apress.com/"><img src="media/img/ug_apress.png" alt="Apress" /></a>
    </div>
</div>
