<div class="panel panel-primary sponsors">
    <div class="panel-heading">
        <h3 class="panel-title" id="sponsors">Bendruomenės rėmėjai</h3>
    </div>
    <div class="panel-body">
        <a class="btn" href="http://www.nfq.lt" title="NFQ" target="_blank"><img src="media/img/nfq-logo.png" alt="NFQ" /></a>
        <a class="btn" href="http://www.buildstuff.lt/" title="Build Stuff" target="_blank"><img src="media/img/buildstuff.png" alt="Build Stuff" /></a>
        <a class="btn" href="http://www.visma.com" title="Visma" target="_blank"><img src="media/img/visma-logo.png" alt="Visma" /></a>
        <a class="btn" href="http://www.oberlo.com" title="Oberlo" target="_blank"><img src="media/img/oberlo.png" alt="Oberlo"></a>
        <a class="btn" href="http://www.uber.com" title="Uber" target="_blank"><img src="media/img/uber.png" alt="Uber"></a>
        <a class="btn" href="http://www.tesonet.lt"><img src="media/img/tesonet.png" alt="Tesonet"></a>
        <a class="btn" href="http://www.estina.com"><img src="media/img/estina-logo.png" alt="Estina"></a>
    </div>
</div>
