<div class="panel panel-primary sponsors">
    <div class="panel-heading">
        <h3 class="panel-title" id="sponsors">Bendruomenės rėmėjai</h3>
    </div>
    <div class="row">
        <div class="panel-body col-sm-6">
            <a class="btn" href="https://www.omnisend.com/" title="Omnisend"><img src="media/img/omnisend.png" alt="Omnisend"></a>
            <a class="btn" href="https://www.nfq.lt" title="NFQ"><img src="media/img/nfq-logo.png" alt="NFQ" /></a>
            <a class="btn" href="https://www.boozttechnologybaltics.com/" title="Boozt Technology Baltics"><img src="media/img/boozt_technology.png" alt="Boozt Technology Baltics"></a>
            <a class="btn" href="https://www.twoday.com" title="twoday"><img src="media/img/twoday.png" alt="twoday" /></a>
            <a class="btn" href="https://www.visma.com" title="Visma"><img src="media/img/visma-logo.png" alt="Visma" /></a>
        </div>
        <div class="panel-body col-sm-6">
            <a class="btn" href="https://www.kilo.health/" title="Kilo Helath"><img src="media/img/kilohealth.png" alt="Kilo Health"></a>
            <a class="btn" href="https://www.dokobit.com" title="Dokobit"><img src="media/img/dokobit.svg" alt="Dokobit"></a>
            <a class="btn" href="https://www.eneba.com" title="Eneba"><img src="media/img/eneba.png" alt="Eneba" /></a>
            <a class="btn" href="https://www.hostinger.com/" title="Hostinger"><img src="media/img/hostinger.png" alt="Hostinger"></a>
        </div>
    </div>
</div>
