<div class="panel panel-primary sponsors">
    <div class="panel-heading">
        <h3 class="panel-title" id="sponsors">Bendruomenės rėmėjai</h3>
    </div>
    <div class="panel-body">
        <a class="btn" href="https://www.estina.com" title="Estina"><img src="media/img/estina-logo.png" alt="Estina"></a>
        <a class="btn" href="https://www.nfq.lt" title="NFQ"><img src="media/img/nfq-logo.png" alt="NFQ" /></a>
        <a class="btn" href="https://www.dokobit.com" title="Dokobit"><img src="media/img/dokobit.svg" alt="Dokobit"></a>
        <a class="btn" href="https://nordsecurity.com"><img src="media/img/nordsec.png" alt="Nord Security"></a>
        <a class="btn" href="https://www.visma.com" title="Visma"><img src="media/img/visma-logo.png" alt="Visma" /></a>
        <a class="btn" href="https://www.eneba.com" title="Eneba"><img src="media/img/eneba.png" alt="Eneba" /></a>
        <a class="btn" href="https://oxylabs.io/" title="Oxylabs"><img src="media/img/oxylabs.png" alt="Oxylabs" /></a>
        <a class="btn" href="https://hometogo.com/" title="HomeToGo"><img src="media/img/hometogo.png" alt="HomeToGo" /></a>
        <a class="btn" href="https://cortlex.com/" title="Cortlex"><img src="media/img/cortlex.png" alt="Cortlex" /></a>
    </div>
</div>
