<div class="panel panel-primary sponsors">
    <div class="panel-heading">
        <h3 class="panel-title" id="sponsors">Bendruomenės rėmėjai</h3>
    </div>
    <div class="row">
        <a class="btn" href="https://www.ovoko.com/" title="Ovoko"><img src="media/img/ovoko.png" alt="Ovoko"></a>
        <a class="btn" href="https://www.buildstuff.events/" title="Build Stuff"><img src="media/img/build-stuff.png" alt="Build Stuff"></a>
        <a class="btn" href="https://www.boozt.com/lt/lt" title="Boozt"><img src="media/img/boozt_technology.png" alt="Boozt"></a>
    </div>
</div>
