<div class="panel panel-primary sponsors">
    <div class="panel-heading">
        <h3 class="panel-title" id="sponsors">Bendruomenės rėmėjai</h3>
    </div>
    <div class="panel-body">
        <a class="btn" href="https://www.estina.com"><img src="media/img/estina-logo.png" alt="Estina"></a>
        <a class="btn" href="https://www.nfq.lt" title="NFQ" target="_blank"><img src="media/img/nfq-logo.png" alt="NFQ" /></a>
        <a class="btn" href="https://www.dokobit.com" title="Dokobit" target="_blank"><img src="media/img/dokobit.svg" alt="Dokobit"></a>
        <a class="btn" href="https://www.tesonet.com"><img src="media/img/tesonet.png" alt="Tesonet"></a>
        <a class="btn" href="https://www.visma.com" title="Visma" target="_blank"><img src="media/img/visma-logo.png" alt="Visma" /></a>
        <a class="btn" href="https://www.eneba.com" title="Eneba" target="_blank"><img src="media/img/eneba.png" alt="Eneba" /></a>
        <a class="btn" href="https://oxylabs.io/" title="Oxylabs" target="_blank"><img src="media/img/oxylabs.png" alt="Oxylabs" /></a>
    </div>
</div>
