<div class="panel panel-primary sponsors">
    <div class="panel-heading">
        <h3 class="panel-title" id="sponsors">Bendruomenės rėmėjai</h3>
    </div>
    <div class="row">
        <div class="panel-body col-sm-6">
            <a class="btn" href="https://www.ovoko.com/" title="Ovoko"><img src="media/img/ovoko.png" alt="Ovoko"></a>
        </div>
        <div class="panel-body col-sm-6">
            <a class="btn" href="https://www.buildstuff.events/" title="Build Stuff"><img src="media/img/build-stuff.png" alt="Build Stuff"></a>
        </div>
    </div>
</div>
